[2021-03-17 03:18] ggrig opened #3 "On same file use same file IDs on FileTypeDetect, Analyze and Rebuild"
The current version generates a new file ID on each operation even if the operations relate to the same file
The same file ID should be utilized for the same file

[2021-03-17 03:26] ggrig opened #4 "Initiate single adaptation process for the same file when running FileTypeDetect, Analyze and Rebuild"
The current version initiates a new adaptation process for each operation.
This causes higher resource utilization and possibly degrades performance when working with GW desktop or file-drop
A single adaptation process should be initiated for the same file

[2021-03-17 03:28] ggrig opened #5 "Create readme to describe the project architecture and use cases"

[2021-03-18 17:46] GINAGC commented on #3
Implemented.

[2021-03-18 17:46] #3 closed

[2021-03-19 10:18] mohitsengarr opened #9 "Add custom headers in api response"
- Needs to add response header with name `X-Adaptation-File-Id` and value should be FileId
- Needs to add response header with name `Via` and should be the environment machine name.

[2021-03-19 13:07] GINAGC opened #10 "Deploy GW cloud SDK on AWS and on CK8s (Compliant Kubernetes)."
Deploy GW cloud SDK on AWS and on CK8s (Compliant Kubernetes).  Make sure that you can see logs in Kibana and metrics in Grafana - @Samarth (Upwork - Python Developer)

[2021-03-19 13:07] GINAGC opened #11 "Create caching POD"

[2021-03-19 13:08] GINAGC opened #12 "Add integration tests in C#"

[2021-03-19 13:09] GINAGC opened #13 "Test implementation in GW desktop"

[2021-03-19 13:21] #11 closed

[2021-03-19 13:24] GINAGC commented on #9
@mohitsengarr can this be closed?

[2021-03-19 13:25] mohitsengarr commented on #9
yes please.

[2021-03-19 13:26] #9 closed

[2021-03-22 13:51] ggrig opened #14 "Introduce Jeager tracing support"

[2021-03-23 06:06] #14 closed

[2021-03-23 06:07] ggrig commented on #14
The correspondig PR is https://github.com/k8-proxy/cs-k8s-api/pull/15

[2021-03-23 12:57] mohitsengarr commented on #13
![image](https://user-images.githubusercontent.com/43764140/112149731-4c6eff80-8c05-11eb-8887-239c2854518a.png)
![image](https://user-images.githubusercontent.com/43764140/112149747-5133b380-8c05-11eb-9769-fb1945eea3b6.png)
![image](https://user-images.githubusercontent.com/43764140/112149777-598bee80-8c05-11eb-97a0-4d7f284b0e6a.png)
![image](https://user-images.githubusercontent.com/43764140/1121

[2021-03-25 13:25] GINAGC commented on #13
Task completed

[2021-03-25 13:25] #13 closed

[2021-03-25 13:26] GINAGC commented on #5
Task completed

[2021-03-25 13:26] #5 closed

[2021-04-01 16:14] GINAGC opened #26 "feature: be able to correlate files processed in the Web and Desktop apps with the Elastic Logs (i.e. we need access to the GUID)"
![image (14)](https://user-images.githubusercontent.com/70196799/113416353-72449300-93c1-11eb-9b62-03ea967de6da.png)

[2021-04-01 16:15] GINAGC opened #27 "POD Caching"
Implement Cache in a separate POD so that Adaptation Service could cache the rebuild results:

- May be ON and OFF
- Must clean up when a policy is changed
- May have configurable time span for keeping data in cache

[2021-04-01 16:15] GINAGC opened #28 "Jaeger Traces from all PODs in the Cluster"

[2021-04-01 16:15] GINAGC opened #29 "Send the XML reports to Elastic"
Send the XML reports to Elastic, so that we can have the data from XML that will lead to Thread intelligence reporting.

[2021-04-01 16:15] GINAGC opened #30 "Add support for handling password protected zip files"
New endpoint that takes a zip and a password.

[2021-04-01 16:16] GINAGC opened #31 "CF in AWS portal should have option to create Elastic IP on the go"

[2021-04-01 16:16] GINAGC opened #32 "ICAP and C# should be available from CF DNS"
ICAP and C# should be available from CF DNS. Currently ICAP is accessible only from individual instances.

[2021-04-01 16:16] GINAGC opened #33 "Investigation needed on high hits seen in Kibana"

[2021-04-01 16:17] GINAGC opened #34 "Secure access to Jaeger, Kibana, Grafana with HTTPS"

[2021-04-01 16:17] GINAGC opened #35 "Reliability Testing on Cloud SDK"

[2021-04-02 11:16] GINAGC opened #37 "Get the XML report without running the rebuild process"

[2021-04-02 11:42] ggrig commented on #37
This is about getting the XML report without running the rebuild process
The idea is that api/rebuild/base64 should return the file ID along with the rebuilt file
That ID should be sent back to the new endpoint which finds and returns the corresponding report

[2021-04-02 15:27] GINAGC opened #38 "CI for GW Cloud SDK with/without compliant kubernetes"
1.- Add CI for AMI/OVA for the csharp API: https://github.com/k8-proxy/cs-k8s-api/actions/new (@Samarth (Upwork - Python Developer) can help here too).

2.- Update CI on compliant kuberenetes version so we have a workflow for: OVA/AMI of GW Cloud SDK with compliant kubernetes: https://github.com/k8-proxy/k8s-compliant-kubernetes/actions

So the idea is to have OVA/AMI for both, GW Cloud API alone

[2021-04-02 15:56] #35 closed

[2021-04-02 16:01] GINAGC commented on #29
@ggrig I am assigning this to you, because this is something that we will handle in the CDR plugin folder to folder project, just in case that any additional update is needed.

[2021-04-02 16:02] #10 closed

[2021-04-05 10:42] GINAGC opened #41 "Endpoint to get zip file with all available data"
Similar to https://github.com/k8-proxy/cs-k8s-api/issues/37

But this endpoint should bring a zip file with: XML report, clean file, metadata information.

[2021-04-05 14:08] GINAGC opened #42 "Add health check endpoint"

[2021-04-06 12:45] GINAGC commented on #42
task completed

[2021-04-06 12:45] #42 closed

[2021-04-06 12:46] GINAGC commented on #41
work completed

[2021-04-06 12:46] #41 closed

[2021-04-06 12:46] GINAGC commented on #37
work completed

[2021-04-06 12:46] #37 closed

[2021-04-06 12:46] GINAGC commented on #32
moving out of this repo to deployment

[2021-04-06 12:46] #32 closed

[2021-04-06 12:46] GINAGC commented on #31
moving out of this repo to deployment

[2021-04-06 12:46] #31 closed

[2021-04-06 15:19] GINAGC commented on #33
will be moved to compliant kubernetes repo

[2021-04-06 15:19] #33 closed

[2021-04-06 15:46] GINAGC commented on #29
@ggrig can you point to the code in the other project, so @mohitsengarr brings back this implementation as part of this project too?

[2021-04-07 14:03] GINAGC opened #47 "CI/CD updates for GW Cloud SDK"
Add pipeline for GW Cloud SDK with centos.
Document very detailed the workflow for GW cloud SDK centos and ubuntu.
Fix the CD with AMI.

[2021-04-07 14:04] #38 closed

[2021-04-07 14:04] GINAGC commented on #38
Issue moved to [k8-proxy/k8s-compliant-kubernetes #3](https://github.com/k8-proxy/k8s-compliant-kubernetes/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-07 16:23] GINAGC opened #48 "GW Cloud SDK testing with F2F solution"
We would like that you start doing some testing on the GW cloud SDK. The plan is to send continuous traffic for days and start understanding and sharing the results.

**Cloud SDK:**
- The main channel for this work is #k8-gw-cloud-sdk
- Repository https://github.com/k8-proxy/cs-k8s-api
- Here is a good presentation of the GW cloud SDK: https://docs.google.com/presentation/d/1FFiu5ML2JHwoNx7imlhXLv

[2021-04-07 16:26] GINAGC opened #49 "Test GW cloud SDK integrated with Menlo."
- We have developed a module to communicate with Menlo -Glasswall Middleware-
- GW middelware communicates with GW cloud SDK, here is the architecture: https://glasswallsolu-qbp1117.slack.com/archives/C01MQDCBQK1/p1617426230088900?thread_ts=1617327106.070900&cid=C01MQDCBQK1
- Here is a demo video of this integration: https://drive.google.com/file/d/1Mgh-dVbKn6gT1PwCCBs8jmCs1DDJxqev/view?usp=sharin

[2021-04-08 15:52] gurunathg commented on #47
Fixed CD with AMI - https://github.com/k8-proxy/GW-Releases/runs/2298234618?check_suite_focus=true
Working on centOS version

[2021-04-08 17:12] GINAGC opened #53 "Release tags and add endpoint with GW Cloud SDK version"
@mohitsengarr we meed to start adding versions to the GW Cloud API, please start by adding version 3.0 to the current one, add the tag in GitHub (send me the link and I will add the release notes).

After that, every update to main, needs to have a release number.

This is the version that we need to return (and probably add to swagger too?)

[2021-04-08 17:54] GINAGC opened #54 "Create updated OVA/AMI for GW Cloud SDK with updated icap"

[2021-04-09 06:39] GINAGC opened #55 "Update documentation for GW Cloud SDK"
The goal of this documentation is to have very detailed steps for the sales team to read and deploy.

**New documentation needed:**
- Deployment process from CI/CD for GW cloud SDK with ICAP
- Deployment process from CI/CD for GW cloud SDK with compliant Kubernetes
- Deployment process from CI/CD for GW cloud SDK with compliant Kubernetes and file drop

**Request by Greg Rhein:**
- a number of bas

[2021-04-10 10:19] gurunathg commented on #47
Updated documentation and created a PR: https://github.com/k8-proxy/GW-Releases/pull/253

[2021-04-11 13:42] kumarsudhish opened #58 "GW K8s Compliant API returns HTTP status as 400 in all the failure cases"
[NEW QUOTATION  AGREEMENT.doc.zip](https://github.com/k8-proxy/cs-k8s-api/files/6297157/NEW.QUOTATION.AGREEMENT.doc.zip)
[sample4-tagged.xlsx](https://github.com/k8-proxy/cs-k8s-api/files/6297158/sample4-tagged.xlsx)

Currently we do not have any way from the gw cloud sdk response to determine if the file was
1. Unsupported
2. Malicious
3. Corrupt
In all cases for now we get 400 and we return that

[2021-04-11 17:53] GINAGC opened #59 "Update for the minio based icap-adaptation"
the minio based icap-adaptation(#k8-icap-go-adaptation-service) which is much faster than current implementation, the files are not stored in local file systems (i.e. original store, rebuild store PVCs) but instead it uses minio to store and retrieve the files. So we need to make few changes in the cs-k8s-api code to make it work.

[2021-04-13 11:10] #54 closed

[2021-04-14 10:57] mohitsengarr commented on #59
I, @pranaysahith and @azopat had a call yesterday and as per the @azopat there is no modification is required in the code. Currently @azopat is testing the api and will share the details.

@GINAGC

[2021-04-14 13:08] #30 closed

[2021-04-14 13:08] #12 closed

[2021-04-14 13:08] #26 closed

[2021-04-14 13:10] GINAGC commented on #53
@samarthdd can you help me to tag the release on this repo until today please? I will add the notes.

[2021-04-14 14:40] GINAGC commented on #58
@mohitsengarr please document the latest updates on readme and swagger.

[2021-04-14 14:41] GINAGC commented on #59
ok, please confirm once you tested @azopat

[2021-04-15 13:46] mohitsengarr commented on #58
@GINAGC  here is the [pull](https://github.com/k8-proxy/cs-k8s-api/pull/63)

[2021-04-15 15:28] GINAGC opened #64 "Threat modelling exercise"

[2021-04-15 15:40] GINAGC commented on #53
@gurunathg please review and comment on any other idea to improve this release and tagging process. Thanks

[2021-04-15 15:43] GINAGC opened #65 "Version number of the SDK engine (not hardcoded)"
@mohitsengarr  add an enpoint for this and also add to the header.

- Option 1: we may beed the hash of the repo from the docker version we are using.
- Option 2: call the container from code. / Check the logs, it may be there. / Capture the events from a transaction ID.

@gurunathg and @pranaysahith to also review and comment the best way to do this.

Let me know if we need to contact the interna

[2021-04-15 16:04] GINAGC opened #66 "GW Cloud SDK CI updates"
- Update to GW server (but this is also icap-server only, should we create a separate workflow?)
- Confirm that it is up to date with the filetrust infrastructure (I have sent the question to the core team)
- Tag each submodule as release, make sure this is added to the https://github.com/k8-proxy/GW-Releases visualisation - for this repo and the compliant kubernetes one.

[2021-04-15 16:12] GINAGC opened #67 "CD for GW Cloud SDK and integration tests."
- CI server where we start running test on every commit. (Integration tests)

[2021-04-15 16:13] GINAGC commented on #67
Not high priority over the rest, but to start to review it and thinking about the best process for this.

[2021-04-15 16:19] GINAGC opened #68 "CI for cs-api to build and push latest main code to GW dockerhub"

[2021-04-16 13:31] #49 closed

[2021-04-16 13:42] GINAGC commented on #58
@svf97 this is fixed, please validate after Pranay deploys a new instance.

[2021-04-16 13:42] #59 closed

[2021-04-16 14:21] GINAGC opened #74 "Tag release for initial compliant kubernetes"
Please tag release for initial compliant kubernetes:
- management UI
- OVA workflow
- other fixes.

[2021-04-16 14:23] GINAGC commented on #74
Issue moved to [k8-proxy/k8s-compliant-kubernetes #16](https://github.com/k8-proxy/k8s-compliant-kubernetes/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-16 14:23] #74 closed

[2021-04-16 17:23] kumarsudhish opened #75 "To implement different status code incase ZIP file consist of supported and un-supported file"
If all the files are sanitized from the zip return 200 status code but for partially processed zip return 207 status code with same response. And if all the files from zip are not supported file then will return 400

Here are the cases for zip file processing:
ZIP File - GW SDK (200 OK) - GW-Menlo will return the rebuild file with outcome as clean
ZIP File - GW SDK (207) - GW-Menlo will return the

[2021-04-20 17:23] gurunathg commented on #68
Completed as part of #70

[2021-04-21 14:22] #68 closed

[2021-04-21 17:34] GINAGC opened #83 "Cloudformation to start and stop large numbers of Cloud SDK versions"
we need a good way to start and stop large numbers of Cloud SDK versions

Ideally this would be a cloud formation that would:

- receive as a param the number of servers to start (and EC2 image type)
- use latest version of AMI (no need to build it)
- start those servers
- (this can be optional to start with since the CDR-Plugin-Folder_to-Folder is able to load balance the requests) create a load

[2021-04-21 17:37] GINAGC opened #84 "Report of deployed versions and SDK / Cloud SDK version"
Automated way to get this information (for now, track manually):

https://github.com/k8-proxy/cs-k8s-api/wiki/GW-Cloud-SDK-running-instances

[2021-04-22 13:05] samarthdd opened #87 "cs-api-ck8s documentation"

[2021-04-22 13:06] samarthdd commented on #87
![image](https://user-images.githubusercontent.com/64204445/115719302-96c8d500-a399-11eb-8d6e-c8a506ed22c7.png)

[2021-04-22 13:07] samarthdd commented on #87
![image](https://user-images.githubusercontent.com/64204445/115719445-b7912a80-a399-11eb-9e38-619c622fb2e5.png)

[2021-04-22 13:08] samarthdd commented on #87
![image](https://user-images.githubusercontent.com/64204445/115719636-ec04e680-a399-11eb-8ec0-3a37b1c5d267.png)

[2021-04-22 13:09] samarthdd commented on #87
![image](https://user-images.githubusercontent.com/64204445/115719738-03dc6a80-a39a-11eb-93d0-39597d65e6ee.png)

[2021-04-22 18:04] #87 closed

[2021-04-22 18:09] samarthdd opened #90 "gw cloud sdk requires k3s restart"
Sometimes GW Cloud sdk OVA requires
./flush_iptables.sh
k3s restart.

Run it on server boot

[2021-04-22 18:09] samarthdd opened #91 "gw cloud sdk ova requires ./flush_iptables manual step"
Sometimes GW Cloud sdk OVA requires
./flush_iptables.sh
k3s restart.

Run it on server boot

[2021-04-22 18:36] GINAGC opened #92 "Add json response to health"
can we add simple json response to http://192.168.0.250:8080/api/health (at the moment it looks empty (pic 4) . Simple { "status" : "ok" } would be better than the current situation

[2021-04-22 18:37] GINAGC opened #93 "Add swagger UI to server"
can we add the swagger UI to this server https://k8-proxy.github.io/cs-k8s-api/#/ , maybe to the root of the server, for example http://192.168.0.250:8080/ (192.168.0.8080 is the IP of my VMWare Fusion VM). At the moment page is showing a 404.

[2021-04-26 11:43] GINAGC opened #101 "Code sample calls for GW Cloud SDK in PHP and Python"
Provide code samples for PHP and Python of GW Cloud sdk.

Will this be similar to the code samples we put together for Rebuild API: https://engineering.glasswallsolutions.com/docs/products/cloud-sdk/rebuild/rebuild-quickstart

Please add a new page here: https://github.com/k8-proxy/k8-proxy-documentation/tree/master/docs/products/gw%20cloud%20sdk

With the tab Python and PHP.

[2021-04-26 13:26] GINAGC opened #104 "New endpoint"
Behavior update of the 'rebuildzip' endpoint:

We need is an endpoint that :
a) takes a file (or base64 string)
b) return a zip with rebuilt file, report.xml, and metadata.json (i.e. info on what happened)

we need this for the cases where we just want to have one call to get both file and xml report (needed for the cases when the server is behind a load balancer)

[2021-04-26 17:30] GINAGC opened #106 "Filedrop integration with GW cloud SDK"
- eval or prod SDK.
- (AMI priority, but OVA needed too)

[2021-04-27 15:14] GINAGC opened #110 "Differentiate between a file GW does not support or cannot be processed."
fix that problem with the Glasswall Cloud SDK not being able to tell the difference between a file GW doesn't support and a file the engine can't process

[2021-04-28 13:47] #104 closed

[2021-04-28 13:48] #75 closed

[2021-04-28 13:48] #92 closed

[2021-04-28 13:50] #53 closed

[2021-04-28 14:08] #101 closed

[2021-04-28 14:09] #58 closed

[2021-04-28 14:36] #66 closed

[2021-04-28 14:36] #83 closed

[2021-04-29 07:24] samarthdd commented on #106
![image](https://user-images.githubusercontent.com/64204445/116515131-85c41a80-a8e9-11eb-9d98-cf26f9b6f4e4.png)

[2021-04-29 07:30] samarthdd commented on #106
![image](https://user-images.githubusercontent.com/64204445/116515563-14d13280-a8ea-11eb-900b-58fe934cad07.png)

[2021-04-30 09:55] kekesimarti opened #116 "Add a threat analysis to gov.uk"
Add a threat analysis to gov.uk

[2021-04-30 10:56] kekesimarti opened #117 "Add support for native integration with the new Minio and Queues"
Add support for native integration with the new Minio and Queues (when running inside the new Go/minio version of the CDR Platform)

**This only for the new SDK section/endpoints.**

[2021-04-30 10:59] kekesimarti opened #118 "Automatically generate AMI after merge to main and add tag from CI/CD"
Automatically generate AMI after the merge to main and add a tag from CI/CD

[2021-04-30 11:02] kekesimarti opened #119 "Disable the cache by commands, so the next release doesn't support caching"
Disable the cache by commands, so the next release doesn't support caching

[2021-04-30 11:03] kekesimarti opened #120 "Validation of HTTP/HTTPS for GW Cloud SDK"
Validation of HTTP/HTTPS  for GW Cloud  SDK

[2021-04-30 11:04] kekesimarti opened #121 "Send back performance stats of the Rebuild and performance stats of the server"
Send back performance stats of the Rebuild and performance stats of the server

[2021-04-30 11:06] kekesimarti opened #122 "Autoscaling"

[2021-04-30 11:08] kekesimarti opened #123 "Create AMI with performance updates and compliant kubernetes"

[2021-04-30 11:13] kekesimarti opened #124 "Add version of the Kubernetes deployment"
Details: on the version, I just realized that we need to add another value with is the version of the Kubernetes deployment
for example, at the moment we get both v0.1.9 from these two IPs: 52.214.4.30 and  52.209.35.2 which is correct from the C# API, but as you can see the 52.209.35.2 server is the go version (which has a missing piece of functionality which is to put the analysis file in the sa

[2021-04-30 11:14] kekesimarti opened #125 "Automatically update all running instance for Cloud SDK"

[2021-04-30 12:49] GINAGC commented on #120
@samarthdd can you add more details on this? I am not sure what was this about.

[2021-05-03 09:37] GINAGC opened #130 "GW Cloud SDK to delete files from shared storage"
enable clear the stores that was disabled in cache

[2021-05-03 12:37] GINAGC opened #131 "Flow diagram for GW Cloud SDK"
Including the minio part.

[2021-05-04 14:13] GINAGC commented on #121
@mohitsengarr from call:

- Send performance stats of what you can see in your workflow, for example, how long it takes to upload files, from the first queue until you get the response, all possible stats to be captured and added to the current metadata json file. This is only to the 2 new endpoints:
    - /api/analyse/rebuild-zip-from-base64
    - /api/analyse/rebuild-zip-from-file

[2021-05-04 14:14] GINAGC opened #140 "Rename metadata.json rename to cloudsdk.json"
@GINAGC commented on [Tue May 04 2021](https://github.com/k8-proxy/k8s-compliant-kubernetes/issues/29)

[2021-05-04 14:15] #93 closed

[2021-05-04 14:17] GINAGC opened #141 "Create a new section called SDK"
For the rebuild and analyze together.

[2021-05-04 15:24] GINAGC commented on #110
@mohitsengarr this one can be fixed using the minio version only.

[2021-05-04 15:54] GINAGC opened #142 "Zip testing and other files support."
**1,.- Do some testing GW Cloud API calls and confirm the following:**

- do zipped files get unpacked and sanitized individually?
- If so, does it return to its original zipped format or placed in a folder as individually cleaned files?
- if a file cannot be processed inside of the zipped file what occurs?

Please test this with the endpoint:
/api/rebuild/zipfile
and
/api/rebuild/file

Try differ

[2021-05-06 10:41] kekesimarti opened #143 "Deploy a worker cluster with AMI ami-0060af9d810d9cc84"
Regarding the OutOfcpu issue, please deploy a worker cluster with AMI ami-0060af9d810d9cc84, which is the one that the customer is running, do some rebuilds and then let it running (mark it to not be stopped). We need to start running instances for long periods of time.

[2021-05-06 12:19] GINAGC commented on #90
duplicated

[2021-05-06 12:19] #90 closed

[2021-05-06 12:20] GINAGC commented on #122
i think this was already done

[2021-05-06 12:20] #122 closed

[2021-05-06 12:20] GINAGC commented on #118
will merge with the rest of CI/CD updates

[2021-05-06 12:20] #118 closed

[2021-05-06 13:26] GINAGC commented on #47
will merge this with the rest of the CI/CD for next week

[2021-05-06 13:26] #47 closed

[2021-05-06 13:58] dpatel7 opened #144 "Cloud SDK with minio version is not working offline"
![image](https://user-images.githubusercontent.com/61416876/117310750-7b6ec700-ae7b-11eb-9626-bd8169f8c1c7.png)

[2021-05-06 14:25] GINAGC commented on #144
OVA: s3://glasswall-sow-ova/vms/minio-gw-sdk/minio-gw-sdk-35bff4542ed76d1ad57039af2d6b9ce733759ebd-207.ova

[2021-05-06 16:07] kekesimarti opened #145 "Provide multiple workers deployment in AWS"

[2021-05-07 12:33] MaNe2020 commented on #116
@GINAGC @kekesimarti do we need something more elaborative from this?
![image](https://user-images.githubusercontent.com/70108899/117450178-2dbc9200-af41-11eb-855f-55226ffcdcbb.png)

[2021-05-07 13:42] GINAGC commented on #116
@MaNe2020 I think from details point of view is what we can get at this moment, right? I only would like to see graphs in the 2 dashboards that we have a lists (I think we need the 2 options, as a list and as a diagram)

[2021-05-10 07:59] kekesimarti opened #146 "Add health to GW Cloud SDK"
to make sure that we are compatible with all products, filedrop, GW desktop, etc.

[2021-05-10 08:01] kekesimarti opened #147 "Encrypt data"
* details TBD

[2021-05-10 08:02] kekesimarti opened #148 "SDK production or eval and days left"
* Add this as part of the version details

[2021-05-10 08:03] kekesimarti opened #149 "Every customer/deployment to send the header details"
In the same way that we have from GW desktop, which versions, etc.

[2021-05-10 08:04] #106 closed

[2021-05-10 08:04] #131 closed

[2021-05-10 10:37] #29 closed

[2021-05-10 10:39] MaNe2020 commented on #116
@GINAGC here is with diagrams
![image](https://user-images.githubusercontent.com/70108899/117646966-ad8a6c80-b18c-11eb-9ed6-753b988813a0.png)

I will re run govUK one more time today and add here final analysis.
Once that is done will close it.

[2021-05-10 10:55] kekesimarti opened #152 "Two little fixes on Swagger"
1. remove the top banner (the one saying 'Swagger' ) ,
2. put the swagger.yaml file in a better location, at the moment it is at  `swagger/v1/swagger.yaml`
![image](https://user-images.githubusercontent.com/79467690/117648711-dad81a00-b18e-11eb-98a4-ab7a8aa9caf6.png)
a good name to use is openapi.json
which is what the F2F plug is using
![image](https://user-images.githubusercontent.com/79467690/1

[2021-05-10 12:19] GINAGC commented on #142
@Lestat06 you can use 34.240.202.210

[2021-05-10 14:01] GINAGC opened #150 "Send the XML reports (as JSON files) to Elastic"
Add an option to send the XML reports to Elastic, so that we can have the data from XML that will lead to Thread intelligence reporting.

- send the report.json
- convert the mtadata.xml for each rebuilt file and convert it to JSON file
- send it to elasticsearch (IP that can be configured) - you can assume it will be a dedicated elasticsearch server,
- Please do these changes in the man branch, n

[2021-05-10 15:20] GINAGC opened #151 "Review how complex it would be to create the deployment of the solution in Azure"
GW Cloud SDK + ICAP
GW Cloud SDK + ICAP + Filedrop

[2021-05-10 15:53] kekesimarti commented on #152
@GINAGC I moved it.

[2021-05-10 18:07] Lestat06 opened #154 "504 Gateway Time-out on .zip file"
Running a pdf+img.zip  in /api/rebuild/zipfile returns:
[code]
Time: 2 m 24.18 s
files used:
[pdf+img.zip](https://github.com/k8-proxy/cs-k8s-api/files/6460985/pdf%2Bimg.zip)

[2021-05-10 18:09] Lestat06 commented on #142
Issue added
https://github.com/k8-proxy/cs-k8s-api/issues/154

[2021-05-11 09:04] kekesimarti opened #155 "We need a new endpoint called status on the REST API that returns all sorts of stats about the current server"
We need a new endpoint called status on the REST API that returns all sorts of stats about the current server:

1. CPU / Memory used
2. # of files currently being processed
3. # of files processed in last hour, last day, all the time (not 100% sure how easy it will be to map this up, but lets see it)
4. name of pod
5. Server uptime

[2021-05-11 14:03] #55 closed

[2021-05-11 16:47] kekesimarti opened #156 "Review what we need to support HTTPS on postman instead of HTTP"
How are we going to manage the certificates?

[2021-05-11 16:49] kekesimarti opened #157 "Start reviewing the WAF automated deployment"

[2021-05-11 18:43] Lestat06 opened #158 "ErrorReport.html with .zip files"
With `/api/rebuild/zipfile`  the zip file was processed but with a `207 status`
Files were rebuild except one file which was replaced with an ErrorReport.html.
File used:
[pdf+img.zip](https://github.com/k8-proxy/cs-k8s-api/files/6461209/pdf%2Bimg.zip)
[pdf.zip](https://github.com/k8-proxy/cs-k8s-api/files/6461231/pdf.zip)
Results:
[pdfResult.zip](https://github.com/k8-proxy/cs-k8s-api/files/64612

[2021-05-12 05:50] GINAGC commented on #130
@samarthdd can you validate this?

[2021-05-12 06:02] GINAGC commented on #142
@Lestat06

- then no issue, that is the expected for the /rebuild/file endpoint - but these should be tested with the zip endpoint. Please confirm.
- ok, thanks

[2021-05-12 09:46] Lestat06 commented on #142
@GINAGC

- files were tested with both endpoints `/rebuild/file` and `/rebuild/zipfile`, raised issues for problems that i encountered in `/rebuild/zipfile`

[2021-05-12 16:22] mohitsengarr opened #163 "Not able to download clean and report from presignedUrl"
Not able to download the clean and report file from their presignedUrl while source file is downloadable from it's presignedUrl.

[2021-05-13 07:46] GINAGC opened #164 "Thread Modelling step 2 and data flows"
https://docs.google.com/document/d/1bStMdCOSIVcizxyrsCavPO9uGykJNkzqiBisg85ujyU/edit#

[2021-05-13 16:05] #157 closed

[2021-05-13 16:05] #156 closed

[2021-05-13 16:25] #144 closed

[2021-05-13 16:28] #116 closed

[2021-05-13 22:30] samarthdd commented on #150
![image](https://user-images.githubusercontent.com/64204445/118195431-d9497300-b468-11eb-8728-b282ace6044b.png)
Can see report

[2021-05-14 06:00] mohitsengarr commented on #158
@GINAGC it is working as expected, if zip has some files that are not processed. In this case api will return 207 with the error details returned from adaptation-service. if all files are processed without any error then api will return 200. Let me know if any changes required further.

[2021-05-14 13:06] #150 closed

[2021-05-14 14:28] #130 closed

[2021-05-15 11:40] GINAGC commented on #158
Ok, I took a look and you are right, so it is a PDF that cannot be processed and then we add the error html.

@Lestat06 can you start documenting this scenarios please? For example:

- what happen when all files can be processed
- what happen when not all files can be processed (this scenario)

You can add another md file here: https://github.com/k8-proxy/cs-k8s-api/tree/main/Integration

[2021-05-15 18:28] GINAGC opened #174 "Start checking on vulnerabilities Snyk has found"

[2021-05-15 18:42] #164 closed

[2021-05-17 12:14] Lestat06 commented on #158
@GINAGC PR created with the scenarios https://github.com/k8-proxy/cs-k8s-api/pull/175
Added currently only to scenarios (status 200 and status 207).
will wait on feedback for this issue https://github.com/k8-proxy/cs-k8s-api/issues/154
pls review , TIA

[2021-05-17 14:26] mohitsengarr commented on #154
@Lestat06 is it continuously happening? and do you have any steps to reproduce?

[2021-05-17 15:16] Lestat06 commented on #154
@mohitsengarr this this was tried several times. I can try again but i want to try with different endpoints if that is possible

[2021-05-17 18:03] GINAGC commented on #154
@Lestat06 yes, please try again and try to get some steps.

FYI @MaNe2020

[2021-05-17 18:13] #158 closed

[2021-05-18 05:05] GINAGC opened #179 "Test OVA/AMIs from GW Cloud SDK + file drop on CK8s"
Shereen, the purpose of this task is to give it another pass to the instructions to deploy GW Cloud SDK (API) with filedrop integrated on Compliant Kubernetes. Below all the needed information, please if you need to reach to anyone because instructions are not clear, do this on channel, so we update the documentation as needed (these pages will have customer visibility)

**OVAs:**
WC: s3://glasswa

[2021-05-18 13:57] GINAGC opened #181 "Add GW Cloud SDK to filedrop UI"

[2021-05-18 14:00] GINAGC opened #182 "Review and document limitations of the current deployments"
Take this documentation (and review): https://github.com/k8-proxy/cs-k8s-api/blob/75784dddb3afde163cab747ed99c354b7f38d2a3/limitations.md and add it at the bottom of the GW Cloud SDK - after the code samples: https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/python-sample

Please do some testing to these scenarios: https://github.com/k8-proxy/cs-k8s-api/blob/70c4eae4

[2021-05-18 14:58] Lestat06 commented on #154
@mohitsengarr Ok I found that the issue occurs in esxi VMs, while with APIs from AWS didn't run into this.
You can try this 91.109.25.76/api/rebuild/zipfile
with this
[pdf+img.zip](https://github.com/k8-proxy/cs-k8s-api/files/6502219/pdf%2Bimg.zip)
Will create another VM in esxi and try again with different one.
FYI @GINAGC

[2021-05-18 16:20] GINAGC commented on #154
@mohitsengarr please take a look

[2021-05-18 18:32] Lestat06 commented on #154
@GINAGC Mohit explained what the issue is.
Quoting: "The 504 Gateway Timeout error is an HTTP status code that means that one server did not receive a timely response from another server that it was accessing while attempting to load the web page or fill another request by the browser. This usually means that the other server is down or not working properly."

Will add this in the scenarios

[2021-05-18 19:01] kekesimarti opened #183 "Start supporting content management from the Cloud SDK, which can be done in the minio version."
Start supporting content management from the Cloud SDK, which can be done in the minio version.
See [https://engineering.glasswallsolutions.com/docs/products/cloud-sdk/rebuild/rebuild-content-management](https://engineering.glasswallsolutions.com/docs/products/cloud-sdk/rebuild/rebuild-content-management)
The idea is to first get the architecture for this design.
Take a look at the code samples we

[2021-05-18 19:18] ibrahimk9000 commented on #183
can you please move it to k8-process repo

[2021-05-18 19:34] kekesimarti opened #184 "The /api/analyse/rebuild-zip-from-base64 endpoint is not working in the minio version"
![image](https://user-images.githubusercontent.com/79467690/118712109-ad3f4080-b820-11eb-953e-59a8beba49be.png)

[2021-05-19 07:54] GINAGC commented on #152
@svf97 please test these updates, you may need to create a new AMI and test it.

[2021-05-19 07:59] GINAGC commented on #154
@Lestat06 yes, please add to the scenarios. Also, how often do we see this issue? please validate the status of the server when this happens.

[2021-05-19 08:00] #120 closed

[2021-05-19 08:00] #181 closed

[2021-05-19 08:02] #146 closed

[2021-05-19 13:15] Lestat06 commented on #154
@GINAGC the issue is not being repeated today. will keep an eye and test in the next days. currently the servers looks like this
![image](https://user-images.githubusercontent.com/6232283/118818683-e1644100-b8b4-11eb-9f5b-09825b44ea4e.png)

this might have been an internet issue or some pods were just running low at that moment

[2021-05-20 07:21] svf97 commented on #152
looks like the top banner and the location are still there
![image](https://user-images.githubusercontent.com/60857664/118936100-82eaa180-b94c-11eb-94d6-b5759626195a.png)

[2021-05-20 08:02] mohitsengarr commented on #152
@svf97 it was not merged with main before. Now it is merged. So, you can test now.

CC @GINAGC

[2021-05-21 05:47] #143 closed

[2021-05-21 16:52] Lestat06 opened #188 "Unexpected API call failure with different files with issues"
Different files tested rebuilding in https://labs.glasswallsolutions.com
Doublechecked rebuild with Desktop App and https://file-drop.co.uk/
Some throw `Unexpected API call failure`
Some throw `Wrong file format`
More info found in report [here](https://docs.google.com/spreadsheets/d/194rjpjQtLtjIO7bPy1tP_-cYbkbHCCUrLmwEpFWsEUc/edit?usp=sharing)
P.S cant upload ZIP file because some files are not

[2021-05-24 06:39] Lestat06 commented on #154
@GINAGC have been testing this through the week. the error hast been repeated. Do you still want me to put this to the scenarios?

[2021-05-24 08:33] #142 closed

[2021-05-24 09:52] GINAGC commented on #154
@Lestat06 more than documenting, I think we need to understand when this happens and fix. Do you have more info that can help Mohit to duplicate?

[2021-05-24 13:38] gurunathg opened #189 "Memory Leak in proxy-rest-api pod"
Memory leak in proxy-rest-api which is making pod consume memory over a period of time

![image](https://user-images.githubusercontent.com/17300331/119355813-52479680-bcc3-11eb-9fe4-dd8e9fd3fa4f.png)
![image](https://user-images.githubusercontent.com/17300331/119355831-570c4a80-bcc3-11eb-88ec-3465fabcac2a.png)
![image](https://user-images.githubusercontent.com/17300331/119355867-612e4900-bcc3-11eb

[2021-05-25 04:22] GINAGC commented on #189
@gurunathg can you test this one please?

[2021-05-25 13:07] gurunathg commented on #189
Pod health check is configured:

[code]

[2021-05-26 09:57] gurunathg commented on #189
Primary cause - Pod is reaching out of memory due to memory leak. There was no health check configured in pod, due to which, even if pod reaches out of memory, it doesn't restart which leads to failure of service.
Healthcheck has been added to pod, so that if out of memory occurs, health check in pod fails which will restart the pod. This will free up memory and will make pod functional. As we can

[2021-05-28 05:15] GINAGC opened #192 "Implement a /api/analyse/file endpoint"
- Would it be possible for the team to implement a /api/analyse/file endpoint. there is currently a /api/analyse/base64 one this would bring it in like with the two endpoints for the rebuild call

[2021-05-28 05:24] GINAGC commented on #184
From Mohit:

Get: /api​/analyse​/xmlreport api will not work with minio-version. It seems you are not using the PVC "pvc-transaction-query-service" to store the reports.

[2021-05-28 09:51] ibrahimk9000 commented on #184
this issue is related to  the helms configuration , you can assign @azopat  for it

[2021-05-28 10:09] azopat commented on #184
that PR should fix it - https://github.com/k8-proxy/go-k8s-infra/pull/78

[2021-05-30 11:08] svf97 commented on #179
this was tested throughout and PR was https://github.com/k8-proxy/k8-proxy-documentation/pull/129

[2021-05-31 09:55] Lestat06 commented on #152
@GINAGC this is OK.
FYI @samarthdd

![Screenshot 2021-05-31 115401](https://user-images.githubusercontent.com/6232283/120175854-ed31fa80-c206-11eb-9a98-cd29de7dba76.png)

[2021-05-31 11:04] svf97 opened #193 "HTTP returns 400 Bad Request"
![image](https://user-images.githubusercontent.com/60857664/120183879-94675f80-c210-11eb-8caa-5fd3bc333f66.png)

[2021-05-31 11:49] samarthdd commented on #152
This is fixed

[2021-05-31 11:50] samarthdd commented on #152
moving it to release

[2021-05-31 14:47] samarthdd commented on #141
@mohitsengarr need more details on this ticket

[2021-05-31 14:50] samarthdd commented on #117
@mohitsengarr need more info

[2021-05-31 16:37] GINAGC opened #194 "Use of Cloud SDK in Email product"
- When do we believe we will define an SLA for our hosted product (SRE adoption with the PoC’s will move us to being able to define that)
- The current architecture being deployed is cited as having performance issues – what is the timeline for a version that is considered production performance? (nominal 50-100 requests a second peak load)
- What would the resource commitment for this load be? I

[2021-05-31 17:03] GINAGC opened #195 "Secure API"
details to be defined, requested by Infosec team

[2021-05-31 18:08] GINAGC opened #196 "Rebuild URL support"
https://engineering.glasswallsolutions.com/docs/products/cloud-sdk/rebuild/rebuild-api/#rebuild-url-to-url-endpoint

[2021-05-31 18:17] GINAGC opened #197 "AWS - How to avoid released AMIs to be deleted"
- keep a copy on another AWS account?

[2021-05-31 18:29] kekesimarti opened #198 "Create auto-tagging in the k8-proxy/cs-k8s-api repo"
Github action link :
https://github.com/samarthdd/test-files-generator/blob/main/.github/workflows/auto_tagging.yml

The workflow:
The tag is defined as a.b.c where
a = version number
b = major
c = minor

For example, we will take current tag = v0.5.1
On push to the develop branch, there will be an increment in minor tag created with pre-release.. i.e , 0.5.1 -> 0.5.2
On push to the main branch, t

[2021-06-01 07:40] kekesimarti opened #199 "Register to synk and take a look to how it works."

[2021-06-01 08:13] samarthdd commented on #184
This is fixed

[2021-06-01 09:12] svf97 opened #200 "Swagger defect: Failed to Load API definition"
Issue: cache
solution: hard refresh

![image](https://user-images.githubusercontent.com/60857664/120298263-3ac36b80-c2ca-11eb-86fb-0617bc0990a3.png)

[2021-06-01 14:34] #34 closed

[2021-06-01 14:34] #28 closed

[2021-06-01 14:34] #27 closed

[2021-06-01 17:41] GINAGC commented on #182
@svf97, for now, lets keep limitations here: https://github.com/k8-proxy/cs-k8s-api/blob/75784dddb3afde163cab747ed99c354b7f38d2a3/limitations.md

Please remove from PR: https://github.com/k8-proxy/k8-proxy-documentation/pull/134/files

[2021-06-02 05:53] GINAGC opened #202 "Return report in json format in the api response"
@GINAGC commented on [Mon May 24 2021](https://github.com/k8-proxy/GW-proxy/issues/404)

From Mohit: API is sending reports in json format to elastic but api is still returning in xml format.

[2021-06-02 06:30] pranaysahith opened #203 "Implement Jaeger(or similar tool) to monitor API requests, latency, status codes etc."

[2021-06-02 09:00] farringtonp opened #206 "Analysis API - create binary data endpoint"
For the rebuild API, there is an endpoint to receive binary data at /api/rebuild/file

For the Analysis API, there is no corresponding endpoint and we have had requests to provide this, to avoid the user having to convert to base64 (/api/analyse/base64) prior to the call rather than sending the binary data

This issue is linked to a Sales opportunity.

**Requester: Max and Paul.**

[2021-06-02 12:15] samarthdd opened #210 "File should not be a zip error"
@kekesimarti commented on [Fri May 07 2021](https://github.com/k8-proxy/go-k8s-process/issues/40)

Providing information about if a file failed to process because of a specific error or it is not processable by nature

---

@ibrahimk9000 commented on [Fri May 07 2021](https://github.com/k8-proxy/go-k8s-process/issues/40#issuecomment-834428121)

the changes will be in the go-k8s-process repo ,  may

[2021-06-02 14:08] samarthdd opened #213 "api/analyse/rebuildzip error"
@mohitsengarr

For me
endpoint api/analyse/rebuildzip is giving below error

{
    "errors": [
        "Rebuild file not exist for file a6f76562-a666-4b80-a2b6-c6bb8810e76e"
    ]
}

Steps to replicate

Use this endpint and get file-id
/api/analyse/rebuild-zip-from-base64

use above file-id in api/analyse/rebuildzip

The other api /api/analyse/xmlreport is working fine with above step

[2021-06-02 14:14] GINAGC opened #214 "Expose GW SDK REST API on HTTP/HTTPS instead of port 8080"

[2021-06-02 16:14] Lestat06 commented on #141
@mohitsengarr
![new section](https://user-images.githubusercontent.com/6232283/120513679-cf15f700-c3cc-11eb-8aa0-128dd20b8a89.png)
 new section is there and looks good, however it looks like it has the same function like the 2 endpoints above in /analyse

also the zip file that returned had the rebuilded file inside but with a different name.
[7dd6162d-726f-4c5e-b4d8-8e472db12aa6.docx](https://git

[2021-06-02 17:37] GINAGC opened #215 "GW Cloud SDK performance on /api/analyse/rebuild-zip-from-base64"

[2021-06-02 17:48] uzfarid commented on #215
@GINAGC is this new api call?

[2021-06-02 18:04] GINAGC commented on #215
@uzfarid no, it was there before but not working. So it was redone.

[2021-06-02 18:08] GINAGC commented on #141
yes, we will discuss on next demo.

[2021-06-02 18:08] GINAGC commented on #141
@Lestat06 please open a separate issue to the rebuild file name.

[2021-06-02 18:09] #141 closed

[2021-06-02 18:14] #117 closed

[2021-06-02 18:14] #119 closed

[2021-06-02 18:15] #152 closed

[2021-06-02 18:15] #182 closed

[2021-06-02 18:37] Lestat06 opened #217 "File rebuild with different name"
The below endpoint return a zip file with metadata.json, report.xml and a cleaned file.
However the cleaned file has a different name from the original one.
/api/analyse/rebuildzip
/api/analyse/rebuild-zip-from-file
/api/SDK/rebuild-zip-from-base64
/api/SDK/rebuild-zip-from-file

files sample:
Rebuild: [7dd6162d-726f-4c5e-b4d8-8e472db12aa6.docx](https://github.com/k8-proxy/cs-k8s-api/files/6586708

[2021-06-02 20:16] #213 closed

[2021-06-03 07:51] gurunathg commented on #199
Waiting for access from @ChrisHolman

[2021-06-04 06:07] Lestat06 commented on #110
Tested with cs-api-0.1.17 and the endpoint give me the same result with a file that is not supported and from a file Known with issues that the engine cant process.
I can share file in channel since its a doc file and github apparently doesn't support to attach it here. FYI @samarthdd

[2021-06-04 08:07] Lestat06 commented on #184
@samarthdd this is working for me in minio with sdk-0.1.17

[2021-06-04 08:16] llmsjraj commented on #110
@Lestat06 it seems you are testing GW Cloud SDK that is deployed with Classic-ICAP but this has to be tested with minio-icap.

[2021-06-04 08:18] mohitsengarr commented on #110
@Lestat06 it seems you are testing GW Cloud SDK that is deployed with Classic-ICAP but this has to be tested with minio-icap.

[2021-06-04 08:20] mohitsengarr commented on #110
@Lestat06  please check this comment https://github.com/k8-proxy/cs-k8s-api/pull/211#issue-660055806

[2021-06-04 10:22] uzfarid commented on #215
I have tested this. I will generate more official report out of this. I am waiting for repo where I could store such results @GINAGC

[2021-06-04 14:54] Lestat06 commented on #110
@mohitsengarr run with minio-icap
-unsupported file -->output: `GW_UNPROCESSABLE`
-DOC file with issues that machine cant process-->output: `GW_UNPROCESSABLE`
`{"errors":[],"status":"GW_UNPROCESSED","rebuildProcessingStatus":"UNPROCESSABLE"}`

-Files that cannot be processed/fail to rebuild-->output: `GW_ERROR`
e.g `{"errors":["Error Processing 'input' d42f5c96-c13d-417d-b7ed-74688c2b4966 and erro

[2021-06-04 16:14] samarthdd commented on #163
this is fixed.
now /analyse apis are working from both classic and minio versions

[2021-06-04 16:40] samarthdd commented on #110
<img width="530" alt="Screenshot 2021-06-04 at 9 56 26 PM" src="https://user-images.githubusercontent.com/64204445/120834667-f57c9380-c580-11eb-97e2-08e50366355f.png">
<img width="546" alt="Screenshot 2021-06-04 at 10 01 53 PM" src="https://user-images.githubusercontent.com/64204445/120834677-f8778400-c580-11eb-9e2e-e8edbf4c2e83.png">

I can see CLEANED status  in logs
I can see from swagger or re

[2021-06-06 10:22] svf97 commented on #179
AWS testing is completely done
ESXi was being fixed by dev team as:
1. the `wizard` didn't work on the OVAs
2. when it worked, wizard launches without login
3. we are unable to change password
4. hitting `cancel` on wizard reboots vm and relaunches `wizard`
cc: @naderaly @gurunathg

[2021-06-07 06:47] #184 closed

[2021-06-07 06:48] samarthdd commented on #184
It is fixed

[2021-06-07 06:51] #163 closed

[2021-06-07 07:06] mohitsengarr commented on #110
@samarthdd are you sure that you are verifying the status based on the fileID between the logs and cs-k8s-api? and  regarding the expired , clean, INTERNALL_ERROR.
you will see the expired when the GW Engine license has expired.
you will see the INTERNALL_ERROR when there was an error in Minio-Icap processing.
you will not see the clean status as for the success case we are returning the sanitized

[2021-06-07 07:17] samarthdd commented on #110
I have sent the files and scenario to replicate this issue

[2021-06-07 07:31] gurunathg opened #242 "Endpoint for Cluster health status"
Create an endpoint which will show health status of Cluster

[2021-06-07 08:00] Lestat06 commented on #210
@mohitsengarr this happen in the following endpoints:
[code]

[2021-06-07 09:44] GINAGC commented on #214
@samarthdd, @Lestat06 another to test and update documentation in all the GW Cloud SDK section please: https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/a-overview

[2021-06-07 09:48] #67 closed

[2021-06-07 09:56] #64 closed

[2021-06-07 12:18] PEpetra opened #303 "Penetration test 4.1 Test WAF - not detected on pen test"
See penetration test report for more details

[2021-06-07 12:21] PEpetra opened #304 "Penetration test 4.2 HSTS header not enforced"
Ensure that the HSTS Header is set.
 see 4.2 Of penetration test report

[2021-06-07 12:22] PEpetra opened #305 "Penetration test 4.3 HTTP Responses"
The application should return caching directives instructing browsers not to store local copies of any sensitive data. Often, this can be achieved by configuring the web server to prevent caching for relevant paths within the web root. Alternatively, most web development platforms allow you to control the server’s caching directives from within individual scripts.

see 4.3 penetration test report

[2021-06-08 12:04] kekesimarti opened #314 "API failing when running 50 threads"
so when running it with 50 threads the api is failing with the following error .
[Web Application]:: Error Processing 'input' dccd802b-268d-453d-922f-3612f088ffb0 and error detail is None of the specified endpoints were reachable
      RabbitMQ.Client.Exceptions.BrokerUnreachableException: None of the specified endpoints were reachable
       ---> RabbitMQ.Client.Exceptions.PossibleAuthenticationF

[2021-06-08 13:47] samarthdd opened #315 "Object reference not set to an instance of an object"
{
"errors": [
"Error Processing 'input' f86d567c-d70e-419c-bb5b-ebc2e6d3fa02 and error detail is Object reference not set to an instance of an object."
],
"status": "GW_ERROR"
}

file like

_630675-v3-MAPI_Application_Form.docx_630675-v3-MAPI_Application_Form.docx

[2021-06-08 14:41] pranaysahith commented on #214
@samarthdd @Lestat06  The Glasswall Cloud SDK REST API should not be exposed on port 8080 now and instead it should be exposed on port 80/443.

[2021-06-08 14:43] Lestat06 commented on #214
@pranaysahith we tested this. It is working on port 80 and http.
https is still not working with the latest AMI.
FYI @GINAGC @samarthdd

[2021-06-08 15:02] samarthdd commented on #214
@pranaysahith

below are my observations.

I can open api in port 80 but not accessible from 443 from postman

on browser, when we hit IP, it should redirect to swagger ( like before 8080 used to redirect to 8080/swagger)

[2021-06-08 17:49] samarthdd opened #317 "Redirect http to https in gw cloud sdk"
currently APi works in both 80 and 443.

Redirect http to https

[2021-06-09 05:37] gurunathg commented on #214
@samarthdd
443 will be accessible only when we setup of SSL certificate to instance directly.
Regarding redirection to swagger by default, that route is currently reserved for filedrop UI. We can add a condition to check if Filedrop is not to be installed and then add another route to redirect to swagger by default.

[2021-06-09 05:38] gurunathg commented on #189
Tested in latest deployment and changes are good. No increase of memory observed

[2021-06-09 06:36] Lestat06 commented on #214
@gurunathg yes that would be a great feature, if filedrop is there we can access seagger with /swagger or of u have any better idea.
 And also can you show me how to setup ssl cert in instance or how to turn off ssl certification so that we can document this.

[2021-06-09 06:45] gurunathg commented on #214
@Lestat06 In general, we need a domain name that we can assign to Instance to create SSL certificate. I am checking on possible approaches and will update

[2021-06-09 08:30] GINAGC opened #318 "Make CK8s versions compatible to work offline in the GW Cloud SDK project"
Original issue https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/311

[2021-06-09 08:31] GINAGC opened #319 "Security diagram for Cloud SDK"

[2021-06-09 10:13] kekesimarti opened #320 "Review Snyc detected vulnerabilities for cs-k8s-api repo"
1. Get access to Snyc
2. For the repository assigned, do an analysis of the vulnerabilities detected.
3. Confirm if any of the vulnerabilities can quickly solved.
4. Confirm from development perspective which vulnerabilities could have high impact in product.
5. Any additional information on the analysis.

[2021-06-09 12:42] samarthdd commented on #206
This is done and its working

<img width="1427" alt="Screenshot 2021-06-09 at 6 11 02 PM" src="https://user-images.githubusercontent.com/64204445/121356089-2c222780-c94e-11eb-8086-b9d6e3690cd5.png">

[2021-06-09 12:52] Lestat06 commented on #206
Yes @GINAGC  we can close this. latest version 0.1.21 can access this endpoint

[2021-06-09 17:13] GINAGC commented on #154
Not happening anymore

[2021-06-09 17:13] #154 closed

[2021-06-09 19:11] Lestat06 commented on #314
![image](https://user-images.githubusercontent.com/6232283/121414733-474d6100-c967-11eb-896f-47bee74d2a01.png)

[2021-06-09 19:22] mohitsengarr commented on #314
@Lestat06 @GINAGC I have run the test using Jmeter with 50 user with 5 iteration each and I don't see even a single failure.
![image](https://user-images.githubusercontent.com/43764140/121416087-09136a00-c986-11eb-90bb-396eb977ae52.png)

Do you have an steps how are you testing?

[2021-06-10 09:01] kekesimarti commented on #314
FYI @mahnouman @himanshu2464

[2021-06-10 09:14] mahnouman commented on #314
Hello @kekesimarti we have a troubleshooting session for that today.

[2021-06-10 09:24] samarthdd commented on #315
this is happening with minio version for SDK apis

sample file : _632499-v3-EMAs_Application_Form.docx_632499-v3-EMAs_Application_Form.docx

[2021-06-10 13:30] mohitsengarr commented on #315
@samarthdd @GINAGC this issue is not related to `cs-k8s-api` and it will be fixed when https://github.com/k8-proxy/go-k8s-process/issues/73 is fixed. So, we can keep it open until the main issue fixed.

[2021-06-10 14:16] GINAGC opened #328 "Fix the value of RebuildProcessingStatus"

[2021-06-10 19:31] GINAGC opened #330 "Rebuild zip from file needs to always return the zip file"
Rebuild zip from file needs to always return the zip file

[2021-06-10 19:33] GINAGC opened #331 "Support policies management"
- Support policies management by passing the json file to minio

[2021-06-10 19:37] GINAGC opened #332 "Unit and integration tests"
- Unit and integration tests for all endpoints

[2021-06-10 19:39] GINAGC opened #333 "Send the automated version generated by CI/CD as the SDK cloud version"
- Send the automated version generated by CI/CD as the SDK cloud version
- as an environment variable?

[2021-06-10 19:41] GINAGC opened #334 "Grab all the files from the minio version"
* Grab all files that have been added to minio version and add them to the files folder results.

[2021-06-10 19:47] #198 closed

[2021-06-10 19:48] GINAGC commented on #214
@samarthdd, @Lestat06 do you approve this to be released or anything that needs to be fixed?

[2021-06-10 20:34] Lestat06 commented on #214
yes this is validated both ports work. as far as @samarthdd obseration number 2. Gurunath and Pranay will work on a way to access Swagger by default

[2021-06-11 11:48] #199 closed

[2021-06-11 11:48] #174 closed

[2021-06-11 12:14] #206 closed

[2021-06-11 12:14] #315 closed

[2021-06-11 12:15] #110 closed

[2021-06-11 12:15] #214 closed

[2021-06-11 12:18] #314 closed

[2021-06-14 06:17] mohitsengarr commented on #320
Fixed code vulnerabilities and created a PR https://github.com/k8-proxy/cs-k8s-api/pull/342
Remaining the deployment file one and assigned to @gurunathg
![image](https://user-images.githubusercontent.com/43764140/121847516-4ff6bc00-cd06-11eb-8e6a-7c53953a0d7a.png)

@GINAGC

[2021-06-14 08:46] gurunathg opened #345 "Reduce log level from cs-api pod"
1. Review logs sent to elastic and remove unused logs. e.g., `[40m[32minfo[39m[22m[49m: Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker[2]`
2. Create configurable log level to have info, debug

[2021-06-14 08:47] gurunathg commented on #345
Another example of log to be removed:
`Executing ObjectResult, writing value of type '<>f__AnonymousType2`1[[System.Net.HttpStatusCode, System.Net.Primitives, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]]'.`

[2021-06-14 08:48] gurunathg commented on #320
Updated as part of https://github.com/k8-proxy/cs-k8s-api/pull/344. Will review further vulnerabilities

[2021-06-14 18:09] pranaysahith commented on #317
@samarthdd @GINAGC  It makes sense to redirect a frontend app or a swagger, but if we redirect the API, it would cause trouble while accessing the API programmatically and even from postman.
we can just block the port 80 using security groups. what do you think?

[2021-06-15 09:21] GINAGC commented on #317
@pranaysahith I agree with you. But what will happen if the user tries to access HTTP from we for example?

[2021-06-15 10:31] GINAGC commented on #333
@samarthdd this is the issue for the version accordingly to the auto tagging.

[2021-06-15 10:38] kekesimarti opened #350 "Create a step-by-step tutorial on running tests"
Write down the steps on how you do tests. We need this in order to create test cases in Spira so anyone from the team can work on testing.

[2021-06-15 12:57] samarthdd commented on #328
@mohitsengarr need more info please

[2021-06-15 14:52] samarthdd commented on #210
The issue is still there

The error message has changed

But when we input some docx file to api/rebuil/file API , the error is there

<img width="1429" alt="Screenshot 2021-06-15 at 8 09 09 PM" src="https://user-images.githubusercontent.com/64204445/122075114-70626b80-ce17-11eb-9132-55741457e7bd.png">

[2021-06-15 14:54] samarthdd commented on #210
[Clean.docx](https://github.com/k8-proxy/cs-k8s-api/files/6656576/Clean.docx)

Here is the sample file

[2021-06-15 14:59] Lestat06 commented on #210
`/api/rebuild/file` still doesnt work yes
/api/rebuild/zipfile` is fixed. is currently working and processing zip files with docx

[2021-06-15 15:16] samarthdd commented on #328
We have verified below messages

UNPROCESSABLE,
INTERNAL_ERROR,

"EXPIRED" cannot be tested until sdk expired

For CLEAN AND CLEANED, we see only 200 response

Can we get some differentiation for CLEAN or CLEANED or how can we verify these messages

[2021-06-15 15:29] Lestat06 commented on #328
Basically when we get response 200 we should get also a status update like
`status: CLEAN`
 or
`status: CLEANED`.
 Like WHEN we get when GW_ERROR or GW_FAILED or UNPROCESSABLE

and to confirm CLEAN is when file is already clean
CLEANED is when file is sanitized from GW?
and in case file is CLEAN the file that we get from `response 200` DOWNLOAD is the original file correct?

[2021-06-16 05:10] mohitsengarr commented on #328
@Lestat06 you can see the description of status from here https://github.com/k8-proxy/go-k8s-process#dev-section

Regarding the `clean/ cleaned` case user already get the the binary of the sanitized file with `200 `response code.

[2021-06-16 08:11] samarthdd commented on #210
@mohitsengarr

https://github.com/k8-proxy/data-sets/blob/main/docx/Dynamic%20Data%20Exchange.docx

https://github.com/k8-proxy/data-sets/blob/main/docx/EmbeddedImageWithIssue.docx

https://github.com/k8-proxy/data-sets/blob/main/docx/5030002_Issue_05CF00EB_05CF00DB_Sanitisation.docx

[2021-06-16 08:37] kekesimarti opened #354 "Research how difficult is to upgrade all our Cloud SDK deployments to Kubernetes version later than 1.8"

[2021-06-16 08:42] kekesimarti opened #355 "Deploy Lacework on some EC2 instances (not the Kubernetes ones) on the ICAP Playground"

[2021-06-16 14:36] Lestat06 commented on #320
@gurunathg can u confirm that vulnerabilities in deployment part are fixed? can we close this is issue?

[2021-06-16 16:20] Lestat06 commented on #210
@GINAGC this is fixed we just tested.

[2021-06-16 18:30] Lestat06 opened #359 "Encrypted ZIP files fail in /api/rebuild/protectedzipfile endpoint"
error output
![image (2)](https://user-images.githubusercontent.com/6232283/122273249-83417280-cee1-11eb-90d3-712b8bbff50a.png)

[2021-06-17 09:57] mahnouman commented on #304
Hello HSTS will enforce HTTPS communication at the API code level, better to do that in the Loadbalancer level as this is where HTTPS termination would be normally implemented and response headers injections are possible,

[2021-06-17 10:30] gurunathg opened #361 "Update dockerCI"
1. Update pipeline to use release tag for docker tagging. If tag is not available, use commit id
2. latest tag to be updated if trigger is from main, for others, latest should not be updated.

[2021-06-17 13:00] samarthdd commented on #359
This is resolved in 0.2.11

<img width="1423" alt="Screenshot 2021-06-17 at 6 30 04 PM" src="https://user-images.githubusercontent.com/64204445/122401322-1b9b2e00-cf9a-11eb-9fae-d1b73f28eb02.png">

[2021-06-18 08:54] #147 closed

[2021-06-18 08:54] #125 closed

[2021-06-18 08:55] GINAGC opened #372 "Correct versions on swagger for Eval SDK and CDR platform (minio)"
So we need the following in swagger:
- when it is production SDK, to have the SDK production.
- when it is eval SDK, to have the SDK Eval version (and if possible, the days left)
- We also need to add the CDR platform (minion/golang work)

[2021-06-18 08:56] GINAGC commented on #155
Send performance stats of what you can see in your workflow, for example, how long it takes to upload files, from the first queue until you get the response, all possible stats to be captured and added to the current metadata json file. This is only to the 2 new endpoints:
/api/analyse/rebuild-zip-from-base64
/api/analyse/rebuild-zip-from-file

[2021-06-18 08:56] GINAGC commented on #121
duplicated with 155

[2021-06-18 08:56] #121 closed

[2021-06-18 08:56] #84 closed

[2021-06-18 08:58] GINAGC commented on #148
duplicated

[2021-06-18 08:58] #148 closed

[2021-06-18 09:00] GINAGC commented on #242
@gurunathg can you add more details om what do you expect here? and what is the priority from devops perspective.

[2021-06-18 09:13] gurunathg commented on #242
@GINAGC Currently /api/health gives 200 OK even when all pods are not ready. This endpoint is used by loadbalancer to determine whether to send files to rebuild to server or not. When adaptation and other pods are not ready, if health status is still 200 ok, it will result in failure of rebuild operation

[2021-06-18 11:27] GINAGC opened #373 "Cloud SDK and filedrop deployment with Helm charts"

[2021-06-18 11:27] GINAGC opened #374 "Try deployment"

[2021-06-18 11:27] GINAGC opened #375 "Document deployment"

[2021-06-18 11:28] GINAGC opened #376 "Document how to add the helm charts as part of the release process."

[2021-06-18 11:29] GINAGC opened #377 "Remove management UI from repositories and documentation"

[2021-06-18 11:34] GINAGC opened #378 "Documentation improvements from release v0.2.0 and v0.3.0"
Make sure all the following is documented on the wiki:

1.- https://github.com/k8-proxy/cs-k8s-api/releases/tag/
2.- https://docs.google.com/document/d/1IKQfWKH2TRChhnD_FAKMvBs0-C2VPZm40BJzl3uuD7s/edit

In general, the following features need to be documented:
1. - All possible status
2. - Jaeger integration
3. - Expose GW SDK REST API on HTTP/HTTPS instead of port 8080
4. - New endpoint: Analysis

[2021-06-18 12:45] #210 closed

[2021-06-18 12:45] #359 closed

[2021-06-18 12:46] #319 closed

[2021-06-18 12:46] #328 closed

[2021-06-18 12:48] GINAGC commented on #320
I validated this, this is fixed.

[2021-06-18 12:49] #320 closed

[2021-06-19 14:22] ggrig commented on #332
The current status of the test suit is as follows - 8 test are implemented, 4 succeed, 4 fail

![image](https://user-images.githubusercontent.com/26714598/122645339-305afb80-d12b-11eb-871f-beb6061b2b01.png)

[2021-06-21 09:25] GINAGC opened #380 "Implement 80 to 443 redirection in LoadBalancer"

[2021-06-21 09:26] GINAGC opened #381 "Review if LB can configured to talk to 443 of WC and remove 80 port from WC"

[2021-06-21 09:27] GINAGC commented on #303
@gurunathg as agreed on meeting, share a small writeup on Pentest report comments with Infosec team.

[2021-06-21 12:11] mohitsengarr commented on #217
@Lestat06 base64 endpoint would generate the random file name. However, fixed for the rebuild endpoints that are receiving file.

[2021-06-21 12:33] GINAGC opened #383 "Review Pentest report for Cloud SDK"
1.- Understand how Cloud SDK works https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/a-overview
2.- Review Pentest report (to be sent in slack)
3.- Suggest how to pentest F2F solution: https://filetrust.github.io/cdr-plugin-folder-to-folder/docs/

[2021-06-22 11:53] GINAGC commented on #305
@Lestat06 please test this one.

[2021-06-22 11:54] GINAGC commented on #304
Assigning to @gurunathg to document how this will be done in LB.

[2021-06-22 11:55] GINAGC commented on #318
@svf97 please give it a try with the latest release on offline deployment: https://github.com/k8-proxy/cs-k8s-api/releases/tag/v0.3.0

Worker cluster:
OVA : s3://glasswall-sow-ova/vms/csapi-ck8icap/ck8-cs-api-WC-CI-wc-eval-946688205.ova

Service cluster:
OVA : s3://glasswall-sow-ova/vms/csapi-ck8icap/ck8-cs-api-SC-CI-sc-946688205.ova

[2021-06-22 11:58] GINAGC commented on #217
@Lestat06 please retest on develop-

[2021-06-22 13:56] svf97 commented on #318
@GINAGC
- kibana doesn't load on offline mode
![Screenshot from 2021-06-22 15-16-26](https://user-images.githubusercontent.com/60857664/122932553-21b05680-d36e-11eb-8507-4e5cd8ba1f42.png)

- grafana doesn't show clusters
![Screenshot from 2021-06-22 15-45-58](https://user-images.githubusercontent.com/60857664/122937374-37277f80-d372-11eb-9e03-3239f2926703.png)

- failing pods from SC
![Screenshot

[2021-06-22 14:46] Lestat06 commented on #217
@GINAGC this is fixed for the endpoints that receive file as Mohit mentions above. thank you Mohit

[2021-06-22 15:09] GINAGC commented on #318
@svf97 please open defect for each of those issues and add link here.

[2021-06-22 15:33] svf97 opened #391 "kibana doesn't load on offline mode"
testing https://github.com/k8-proxy/cs-k8s-api/releases/tag/v0.3.0 in offline mode
![Screenshot from 2021-06-22 15-16-26](https://user-images.githubusercontent.com/60857664/122932553-21b05680-d36e-11eb-8507-4e5cd8ba1f42.png)

[2021-06-22 15:36] svf97 commented on #391
failing pods from SC
![Screenshot from 2021-06-22 15-39-43](https://user-images.githubusercontent.com/60857664/122937522-56bea800-d372-11eb-863c-5c66e559b093.png)

[2021-06-22 15:36] svf97 commented on #318
https://github.com/k8-proxy/cs-k8s-api/issues/391
https://github.com/k8-proxy/cs-k8s-api/issues/392

[2021-06-22 18:17] #374 closed

[2021-06-23 11:34] GINAGC commented on #318
Issues transferred to CK8 repo:

https://github.com/k8-proxy/k8s-compliant-kubernetes/issues/77
https://github.com/k8-proxy/k8s-compliant-kubernetes/issues/78

[2021-06-23 12:34] pranaysahith commented on #189
@mohitsengarr  we are observing out of memory issues in corp filedrop which has v0.3.0 version.
can you please check why this issue is reoccurring?

[2021-06-23 13:00] ggrig commented on #189
@pranaysahith
Could you please share the steps to reproduce the issue?

[2021-06-23 14:48] Lestat06 commented on #305
@GINAGC I am not getting any output from the curl command mention in 4.3 penetration test report

[2021-06-23 16:05] Lestat06 commented on #305
@GINAGC
this is ok. checked with endpoints too
![image](https://user-images.githubusercontent.com/6232283/123129282-20555b80-d44c-11eb-82c9-680fef6f5154.png)

[2021-06-25 18:22] GINAGC commented on #331
@mohitsengarr please write some documentation about how to use and how to update policies. After that, I will send to QA. Thank you!

[2021-06-28 07:11] #179 closed

[2021-06-28 07:43] kekesimarti opened #405 "File ID exposed to the UI"
As requested at the training meeting today (June 4th), please add an ID to the files).

When the rebuild is failed, we send the ID of file back in response so it can be used for troubleshooting.

[2021-06-28 07:46] luker-GW opened #406 "Tidy up naming conventions and endpoint support in CloudSDK - APIs"
Under Analyse endpoints - we use Rebuild-zip-from-base64 and rebuild-zip-from-file when in actual fact we are not rebuilding anything.

<br/>

We need to bring greater precision on what actions the endpoints perform. Don't use words which only serve to confuse the user, like rebuild when not rebuilding the file.

<br/>

We should be making the Rebuild and Analyse endpoints have partity. At the mom

[2021-06-28 07:46] luker-GW opened #407 "Automated testing"
<br/>

[2021-06-28 07:47] luker-GW opened #408 "Performance testing"
The purpose of this epic is to use the F2F plug-in to generate the following information for CDR platform (minio version):

- Delta of VM sizes, memory used, sets of data used.

[2021-06-28 07:53] GINAGC commented on #155
merging with https://github.com/k8-proxy/cs-k8s-api/issues/242

[2021-06-28 07:53] #155 closed

[2021-06-28 07:57] GINAGC opened #409 "Cloud SDK bug fixing"

[2021-06-28 08:02] GINAGC commented on #378
Hi @svf97 what is the status of this one?

[2021-06-28 08:03] #215 closed

[2021-06-28 08:03] GINAGC commented on #333
@samarthdd is this fixed?

[2021-06-28 08:03] GINAGC commented on #361
@samarthdd is this fixed?

[2021-06-28 08:04] GINAGC opened #410 "Security updates (requests from Infosec)"

[2021-06-28 08:05] #149 closed

[2021-06-28 09:40] Lestat06 opened #412 "Update the deployment instructions in readme file"
Update the readme file with the latest updates. current instructions suggest the deployment.yaml file which is not valid anymore.
Overall the whole code in the document needs to be reviewed

[2021-06-28 10:20] GINAGC commented on #305
@PEpetra this has been implemented and tested, will be in today's release from the Cloud SDK.

[2021-06-28 10:21] GINAGC commented on #304
@PEpetra we have documented this point in the secure deployment, please take a look:
https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/bcloudsdk_dep#secure-deployment-summary

[2021-06-28 10:21] GINAGC commented on #303
@PEpetra we have documented this point in the secure deployment, please take a look:
https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/bcloudsdk_dep#secure-deployment-summary

[2021-06-28 12:58] svf97 commented on #378
@GINAGC https://github.com/k8-proxy/k8-proxy-documentation/pull/143

[2021-06-28 12:59] GINAGC opened #415 "Create a list of Error message which are sent by Cloud SDK incase of any error"
@kumarsudhish commented on [Sun Jun 13 2021](https://github.com/k8-proxy/k8-rebuild-file-drop/issues/78)

Create a list of Error message which are sent by Cloud SDK incase of any error:
1. User uploads a file of format not supported by Cloud SDK.
2. User uploads a file of size which is not supported.
3. User uploads a which cannot be sanitised by cloud SDK due to Structural issues.
4. User uploads

[2021-06-28 13:12] GINAGC commented on #378
https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/zother-features
and
https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/a-overview#response-status

[2021-06-28 13:14] Lestat06 opened #417 "VM needs 10 minutes to start after deployment"
after instance says "running" the vm needs 10 minutes so that u can access filedrop or swagger and that the endpoints work. otherwise you will get GW_ERROR
Also the Release_TAG in AMI is null. which was working before
AMI:
eu-west-1: ami-062b9cf4136d0584b
eu-west-2: ami-0247545f144eb16b4
eu-west-3: ami-0a01c90c28e7ce746
us-east-1: ami-09106a87b3a18d8b4
us-east-2: ami-0797b2ae3eae89408
us-west-1: a

[2021-06-28 14:20] mohitsengarr commented on #331
@GINAGC testing is straight, user needs to select the api to test and click on "Try it out" then the content management policy will be populated and user can make the changes in it accordingly.

[2021-06-28 14:52] GINAGC commented on #91
@Lestat06, @svf97  is this still an issue?

[2021-06-28 15:04] svf97 commented on #91
@GINAGC i haven't seen it in recent releases.

[2021-06-28 15:44] Lestat06 commented on #91
I haven't seen this either in the latest tests we did

[2021-06-28 16:01] GINAGC commented on #91
then I am closing.

[2021-06-28 16:01] #91 closed

[2021-06-28 17:35] kumarsudhish opened #422 "Creating a CI/CD pipeline on cs-k8s-api repo to run the tests on every push"
Creating a CI/CD pipeline on cs-k8s-api repo to run the tests on every push

As discussed with Dharam created this task @samarthdd

[2021-06-29 05:59] mohitsengarr commented on #372
It will be done in 4 hours. However, i need the days left information from the minio-icap as well @GINAGC .

[2021-06-29 06:02] mohitsengarr commented on #345
Estimate around 8 hours.

[2021-06-29 06:03] mohitsengarr commented on #334
Can i have more information on this please?

[2021-06-29 06:05] mohitsengarr commented on #188
Estimate around 1 day @GINAGC

[2021-06-29 06:12] mohitsengarr commented on #406
@GINAGC above mentioned endpoints are rebuilt(sanitize) the file and doing analyse both. Can suggest what should be the good name for these endpoints? what are the endpoints that should be rename?

[2021-06-29 06:14] mohitsengarr commented on #405
will be complete in 1 day.

[2021-06-29 06:14] mohitsengarr commented on #405
@GINAGC will be complete in 1 day.

[2021-06-29 06:16] mohitsengarr commented on #65
@GINAGC I think it is completed with auto tagging.

[2021-06-29 06:16] mohitsengarr commented on #124
@GINAGC would be complete in 1 day.

[2021-06-29 06:18] mohitsengarr commented on #242
@GINAGC would be done in around 4 days.

[2021-06-29 06:18] mohitsengarr commented on #200
@GINAGC would be complete in 1 day.

[2021-06-29 06:19] mohitsengarr commented on #202
@GINAGC would be complete in 4 to 6 hours.

[2021-06-29 06:20] mohitsengarr commented on #330
@GINAGC will be done in 8 hours.

[2021-06-29 06:40] mohitsengarr commented on #417
@GINAGC @Lestat06 It seems rabbitMQ not up and running and api not able to make connection due to this. It is a deployment issue why rabbitmq not up and running. is it for all deployment?

[2021-06-29 07:09] Lestat06 commented on #417
@mohitsengarr yes. last night tried new ami and still had the same issue. after instance is ready to go, first minutes u cant access filedrop or swagger, after few minutes u can access filedrop and swager but they dont work

[2021-06-29 07:12] mohitsengarr commented on #417
@Lestat06 Can you share the ip please?

[2021-06-29 07:20] Lestat06 commented on #417
shared on dm

[2021-06-29 08:32] Lestat06 commented on #417
This issue is replicated also when you boot the VM.
FYI @GINAGC

[2021-06-29 08:50] Lestat06 opened #423 "kube-system crashes after every restart in OVA"
This happens in OVA .
for workaround u have to restart k3s `sudo systemctl restart k3s` and give the machine 10 minutes or reboot and give 10 minutes again.
v0.4.0

[2021-06-29 09:32] Lestat06 opened #424 "base64 endpoints don't always copy on clipboard"
This happens in all the endpoint that rebuild/analyse from BASE64.
steps:
1- open swagger
2- access any endpoint that receives base64.
3- choose a file
4- after popup notifies that base64 is copied in clipboard u can try and paste it inside the request body
This fails the first tries or unless u try another file and than u try the previous file again
files I managed to replicate are attached
[Clea

[2021-06-29 11:40] GINAGC commented on #406
Yes, we will provide more details once that it is ready for dev.

[2021-06-29 11:41] GINAGC opened #426 "Endpoint for Cluster health status"

[2021-06-29 11:42] GINAGC opened #427 "Issue on /api/health"

[2021-06-29 12:48] GINAGC commented on #423
@Lestat06 this is only in OVA?

[2021-06-29 13:52] GINAGC commented on #303
@gurunathg to add CoreRuleSet  to CF template

[2021-06-29 14:07] ChrisHolman opened #429 "Penetration test 4.4 - Input Sanitisation (Reflected in response)"
**Description**:
The value of the filename multipart parameter attribute is copied into the application's response.Input  validation  is  a frequently-used  technique  for  checking  potentially  dangerous  inputs  in  order  to ensure  that  the  inputs  are  safe  for  processing  within  the  code,  or  when  communicating  with  other components. When software does not validate input properly,

[2021-06-29 14:08] GINAGC commented on #355
@gurunathg please provide an estimate for this task:

It is:
- less than 4 hours,
- from 4 to 8 hours
- around 2 days
- more than 2 days

[2021-06-30 08:06] samarthdd opened #431 "207 response for /zipfile and /protectedzipfile"
@mohitsengarr
We are getting response 207 for endpoints

/api/rebuild/zipfile
/api/rebuild/protectedzipfile

This is reported from BDD test here

https://github.com/k8-proxy/GW-Releases/runs/2949518398?check_suite_focus=true

This was unnoticed in previous QA testing as we are getting a zip response back but with 207 response

To replicate this issue. Please use below URL and file

http://gw-cloud

[2021-06-30 10:39] Lestat06 commented on #331
@GINAGC does this issue cover this one?
https://github.com/k8-proxy/go-k8s-process/issues/49

[2021-06-30 13:34] GINAGC opened #434 "Helm chart deployments"
- create high-level documentation on how to deploy helm charts on GCP.
- include the public links to the repositories with the helm charts

[2021-06-30 14:00] GINAGC commented on #431
@samarthdd so it looks that we need to update the documentation to mention that folders are not supported. @mohitsengarr folders are not supported at all?

[2021-06-30 14:07] GINAGC commented on #331
@Lestat06 yes, this task was for the work done in the cloud sdk side, but first was the work done in minio #49. From QA perspective, you just need to review on minio version.

[2021-06-30 15:46] GINAGC commented on #434
@dtollaku fyi

[2021-06-30 16:47] mohitsengarr opened #435 "ContentManagement policy not applying on SDK endpoint"
Content management policy not being applied on SDK endpoints.

[2021-06-30 18:46] samarthdd commented on #435
this is fixed

[2021-07-01 04:02] #378 closed

[2021-07-01 04:02] #305 closed

[2021-07-01 04:02] #217 closed

[2021-07-01 04:03] #48 closed

[2021-07-01 04:04] GINAGC commented on #380
@rashidhussain1087, @gurunathg is this ready?

[2021-07-01 05:16] GINAGC commented on #333
this is already done and validated

[2021-07-01 05:16] #333 closed

[2021-07-01 05:16] GINAGC commented on #361
this is already done and validated

[2021-07-01 05:16] #361 closed

[2021-07-01 08:59] gurunathg commented on #380
@GINAGC This will be ready for QA once https://github.com/k8-proxy/k8s-compliant-kubernetes/pull/88 is merged

[2021-07-01 11:41] GINAGC opened #442 "Kube-bench on CK8s"

[2021-07-01 13:37] gurunathg commented on #380
https://github.com/k8-proxy/k8s-compliant-kubernetes/tree/develop/CF%20Templates

[2021-07-02 10:13] ggrig commented on #188
@GINAGC
Where can I find the files that cause the failures?

[2021-07-02 10:34] Lestat06 commented on #188
@ggrig let me check report and locate the files. Will share in cloud-sdk channel

[2021-07-02 10:51] Lestat06 opened #448 "change the name of folder returned from /api/analyse/rebuild-zip-from-base64 if file is not clean"
in the scenario that all content managements policies are set to allow. the endpoint returns a zip file with
folder CLEAN which has inside the original (unclean) file.
this should be changed to other name from user point of view is missleading

[2021-07-02 10:52] Lestat06 opened #449 "x-adaption-file-id with large files"
testing on f2f with large files, when failing triggers x-adaption-file-id error

[2021-07-02 11:23] GINAGC commented on #449
@ggrig can you review this one as next priority?

[2021-07-02 12:13] Lestat06 commented on #449
when u run the file alone it gets processed but in f2f with other files sometimes fails.
It is mostly when pod accepts file and due to traffic or resource , it fails and response wont be proper

[2021-07-02 12:18] dpatel7 commented on #449
@Lestat06 can you share log to confirm response code from server?

[2021-07-02 13:18] kekesimarti opened #450 "Static code analysis vulnerability"
Fix [this](https://github.com/k8-proxy/cs-k8s-api/security/code-scanning), please.

[2021-07-02 15:03] samarthdd opened #451 "413 Request Entity too large"
We need to add  or set proxy-body-size in kubernete ingress to handle this error

nginx.ingress.kubernetes.io/proxy-body-size: 100m

[2021-07-03 22:24] Lestat06 opened #452 "Some PDF files crashes swagger when trying to get the base64 of file on Cloud SDK classic"
This happens in all endpoints that process base64.
in endpoints that accept /file, pdf file gets rebuild.
file to replicate
[20090707-WAF-v0.1.pdf](https://github.com/k8-proxy/cs-k8s-api/files/6759118/20090707-WAF-v0.1.pdf)

[2021-07-03 22:33] Lestat06 opened #453 "Specific file - endpoints dont give GW_FAILED with file with issue"
`/api/rebuild/file` returns `This endpoint doesn't accept the zip file.`
`/api/SDK/rebuild-zip-from-base64`  returns  `Report xml not exist for file 1663e694-df8e-4b9e-831f-f43eefcbaba0`
[Office2016_Issue0501002F.docx](https://github.com/k8-proxy/cs-k8s-api/files/6759127/Office2016_Issue0501002F.docx)
this happens with all endpoints

[2021-07-03 22:36] Lestat06 opened #454 "Endpoints return the file with different name"
`/api/rebuild/file`  returns the rebuild file with different name. (the file ID name)
`/api/rebuild/zipfile` returns a zip file with different name (the file ID name) however the files inside have their original name
same goes for `/api/rebuild/protectedzipfile`

u can replicate by using any file in the endpoints with the respected file type

[2021-07-04 20:44] Lestat06 opened #455 ".ods .odt give timeout:600 error"
this happens when running the 1000 files scenario in f2f. when processing the odt file in swagger gives
` "This endpoint doesn't accept the zip file."`

[2021-07-05 09:16] ggrig commented on #449
@Lestat06
Please share file samples that cause the issue

[2021-07-05 09:42] GINAGC commented on #450
@mohitsengarr please review this vulnerability.

[2021-07-05 10:10] Lestat06 commented on #449
will share in channel since are large file and some not supported

[2021-07-05 11:34] Lestat06 commented on #452
found more info on this.
it happens with files thare are larger than 2mb
[7300-owctd-briefing-slides.pdf7300-owctd-briefing-slides.pdf](https://github.com/k8-proxy/cs-k8s-api/files/6763740/7300-owctd-briefing-slides.pdf7300-owctd-briefing-slides.pdf)
[surfstitch-group-limited---noni-b--asx-announcements.pdf](https://github.com/k8-proxy/cs-k8s-api/files/6763760/surfstitch-group-limited---noni-b--as

[2021-07-05 11:55] GINAGC opened #457 "Run Kube-hunter on CloudSDK"

[2021-07-05 11:55] GINAGC opened #458 "Kube-bench Remediation"

[2021-07-05 11:55] GINAGC opened #459 "Kube-bench - re run report"

[2021-07-06 11:44] Lestat06 commented on #431
@GINAGC endpoint accepts and rebuilds zips with folders inside and rebuildds the file inside folder.
below zip can be used to replicate
[pdf-with-folder.zip](https://github.com/k8-proxy/cs-k8s-api/files/6769678/pdf-with-folder.zip)

[2021-07-06 12:11] ggrig commented on #455
The issue does not seem to be CS SDK relevant
The files cause similar bahaviour with FileDrop at https://labs.glasswallsolutions.com/

[2021-07-06 12:12] ggrig commented on #188
@GINAGC
The issue does not seem to be CS SDK relevant
The files cause similar behavior with FileDrop at https://labs.glasswallsolutions.com/

[2021-07-06 12:38] Lestat06 commented on #188
@GINAGC if i recall right this was for testing filedrop  https://labs.glasswallsolutions.com itself.

[2021-07-06 12:54] GINAGC commented on #188
@Lestat06 if this is in filedrop, then is duplicated with https://github.com/k8-proxy/k8-rebuild-file-drop/issues/44

Update issue 44 with details and close this one as duplicated please.

[2021-07-06 14:16] #331 closed

[2021-07-06 14:19] #435 closed

[2021-07-06 14:20] #415 closed

[2021-07-06 15:05] GINAGC commented on #189
@gurunathg can you please test this one from develop branch?

[2021-07-06 16:45] samarthdd commented on #431
this is replicated and fixed

[2021-07-07 04:48] #431 closed

[2021-07-07 05:03] GINAGC commented on #458
All the list mentioned in the above link, are snyk findings, not kube-bench.

[2021-07-07 07:40] Lestat06 opened #464 "CS REST cant handle more than 25 concurent connections"
Configure Nginx to accept more thatn 25 concurent connections
the liveness probe(health check) of the pod was failing and hence the pod was restarting. that means, the pod is busy serving other requests and it is not responding to /api/health within 3s.

[2021-07-07 08:57] ggrig commented on #449
@Lestat06
I do not reproduce the issue with the recent version of CS SDK when sending the files with PostMan
I get x-adaptation-file-id for both files:

![image](https://user-images.githubusercontent.com/26714598/124730902-cf049c00-df22-11eb-8270-89fc7a8081a8.png)

![image](https://user-images.githubusercontent.com/26714598/124730979-df1c7b80-df22-11eb-8a83-dfe3a5489673.png)

[2021-07-07 11:31] #140 closed

[2021-07-07 12:01] Lestat06 commented on #449
@ggrig add the large files in a scenario with other files and run that scenario with the IP.
or if u have the jp-test scenario that can do also.

[2021-07-07 12:35] GINAGC commented on #410
Related to Management UI:

- https://github.com/filetrust/reference-ncfs/pull/6
- https://github.com/filetrust/identity-management-service/pull/17
- https://github.com/filetrust/policy-management-api/pull/42

[2021-07-07 13:18] GINAGC commented on #458
@gurunathg

I just talked with Petra on this, please focus on the Kube-bench remediations first and then on the after remediations deployment, run Snyk again and check if anything else is left from the list:

https://glasswallsolutionsltd.sharepoint.com/:x:/s/gwinfosec/EQ1_SNImOqxPlix7FhfxrZgB6-ZgWRNpVH1-51XUqrGO0A?e=P5M3Qo

[2021-07-07 13:42] #304 closed

[2021-07-07 17:20] GINAGC opened #466 "Test F2F v0.14.0 with minio v0.5.0 with auto scaling"
1.- Start running minio version on CK8 with auto-scaling. Capture:

- what exactly are the triggers for the auto-scaling,
- not only from the server but from the F2F workflow
- how fast does it auto-scale up and auto-scale down
- what happens to the F2F server before during and after the autoscaling (two important metrics here are: time to process a file and errors
- correlate these EC2 monitoring

[2021-07-07 18:48] mohitsengarr commented on #454
@Lestat06 is it an issue? Could you please explain this what i need to fix? Also, please check this https://github.com/k8-proxy/cs-k8s-api/issues/429 too.

@GINAGC

[2021-07-07 19:38] Lestat06 commented on #454
@mohitsengarr basically when u rebuild a file e.g `test1.pdf` u get in return the rebuild file with name `31dbbd35-c4e2-49d1-8053-a14f133efbf4.pdf`
is the change for penetration in issue #429 related to this?

[2021-07-07 19:58] mohitsengarr commented on #454
Yes @Lestat06

[2021-07-08 05:28] ggrig commented on #455
Tested with icap-server-1006893573-428.ova
When processing an OPT file there are multiple failures in icap-adaptation rebuild service

![image](https://user-images.githubusercontent.com/26714598/124866831-1431d800-dfce-11eb-84a4-5e9a5c257b54.png)

So this fails on the adaptation service side and because of that CS-K8S-API component generated the timeout error

![image](https://user-images.githubus

[2021-07-08 07:06] ggrig commented on #449
@Lestat06
This is about CDR F2F plugin scenarios. Right?
I believe what happens there is that when the API server gets overload it does not respond because of TCP connection timeout.
So no HTTP response is sent. I will investigate that on F2F side

[2021-07-08 07:36] gurunathg commented on #355
Completed integration with CF template : https://github.com/k8-proxy/k8s-compliant-kubernetes/commit/ad793af57684f2aaef31993f5c9f655677f51139

[2021-07-08 09:18] Lestat06 opened #467 "cs-api is taking longer time to process the files - classic version"
The api has become slower in comparison with 2 weeks before in version 0.6.0.

You can notice this with running the scenario-1000 files in f2f
previous time was: 30-32 minutes (v0.4.0)
current time is : 50-60 minutes (v0.6.0)
this can be also noticed with zip files with amount of 15+ files inside.
it takes too much time and throws timeout:600 error.
Have tested even with 0.4.0 to see of its a regr

[2021-07-08 09:30] Lestat06 commented on #188
@GINAGC this needs further investigation also from cs-api part since the filedrop we wre testing with these files is using cs-api

[2021-07-08 09:32] GINAGC commented on #188
@ggrig when filedrop is sending "Unexpected API call failure", which error is the cloud sdk API sending?

[2021-07-08 09:44] GINAGC commented on #455
Thank you @ggrig, I am sending this to @ibrahimk9000 to fix in adaptation service.

[2021-07-08 11:28] ggrig commented on #449
Here is the PR that fixes this one

https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/594

[2021-07-08 12:35] GINAGC commented on #449
@Lestat06 this needs to be tested once that we have a new F2F release v0.15.0, lets keep an eye on https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/594

[2021-07-08 12:44] Lestat06 commented on #449
@GINAGC will create a duplicate of my cdr and pull the latest from develop and check this once i fund some time.

[2021-07-08 13:47] GINAGC opened #468 "Helm charts deployment on Azure and initial documentation"

[2021-07-08 13:51] GINAGC opened #469 "Document all test scenarios to validate Cloud SDK classic and minio"
@Lestat06, @svf97 please work together to create the test scenarios to test Cloud SDK and minio in CK8 and K3. This needs to be directly in Spira. So we start tracking what else needs to be automated, so we get to the point that most of these manual steps are automated.

[2021-07-08 14:58] Lestat06 opened #470 "ZIP with 15+ files fails to rebuild"
this can be replicated with a ZIP that includes more than 15 files inside and using the /rebuils/zipfile endpoint
The machine takes too much time to process the files, therefore throws timeout:600 error. which was not an issue before

[2021-07-08 15:08] GINAGC opened #471 "Analyse required updates on swagger"
@ggrig see epic https://github.com/k8-proxy/cs-k8s-api/issues/406, we need to anaylse the updates needed in swagger. Here are some comments:

- We need to match the Rebuild versus the Analyse endpoints to have parity
- We need to have parity between the binary and the base 64.
- We need to remove "rebuild" from the analyze endpoints.
- We need to update the ones under SDK to make more clear the go

[2021-07-08 16:51] #429 closed

[2021-07-08 16:52] #317 closed

[2021-07-08 17:32] GINAGC commented on #350
duplocated

[2021-07-08 17:32] #350 closed

[2021-07-08 17:35] GINAGC commented on #383
work will continue by Infosec team

[2021-07-08 17:35] #383 closed

[2021-07-08 20:07] Lestat06 commented on #454
@GINAGC how dou want to proceed with this. in case of filedrop and the endpoint that f2f is using this is not the case. we get the file with its original name. so basically this will happen if u use the endpoints: `/api/rebuild/file`, `/api/rebuild/zipfile`, `/api/rebuild/protectedzipfile`  from swagger or postman

[2021-07-08 21:03] mohitsengarr commented on #464
@GINAGC I have done the load testing of APIs with 50 threads using the JMeter on two servers. APIs are performing well on one server while not satisfactory performing on other server. Both servers have the same code deployed but we can see the drastic performance difference. Therefore, i conclude there is no issue with the api but somewhere in the deployment, their configuration,  machine configur

[2021-07-08 21:36] Lestat06 commented on #464
@mohitsengarr both links redirect to same video can u share the second server one pls?

[2021-07-08 21:58] mohitsengarr commented on #464
Updated.

[2021-07-08 22:28] Lestat06 commented on #381
@GINAGC this looks like a replica of this issue #380 if yes can we follow in 380?

[2021-07-09 08:18] ggrig commented on #330
@GINAGC
@mohitsengarr
What are the cases when it is not ZIP?
If those are the failure responses (status codes 400, 404, 413, etc) then those should be XML data, not ZIPs

[2021-07-09 08:28] ggrig commented on #467
Most probably this relates to ICAP Adaptation failures introduced with recent builds
@Lestat06 - did you try to verify if adaptation failures are there during the processing:

![image](https://user-images.githubusercontent.com/26714598/125048459-ff7a4080-e0b0-11eb-8d3d-69c6dd427c9d.png)

Also please specify icap adaptation AMIs/OVAs that work and that fail

[2021-07-09 09:05] mohitsengarr commented on #470
@Lestat06 Can you please provide the sample zip? I have tried with this and working.
[15+.zip](https://github.com/k8-proxy/cs-k8s-api/files/6790179/15%2B.zip)

[2021-07-09 09:28] mohitsengarr commented on #330
@ggrig Sorry, i didn't get the question. Can you please explain?

[2021-07-09 09:39] GINAGC commented on #381
yes

[2021-07-09 09:39] #381 closed

[2021-07-09 09:45] ggrig commented on #330
@mohitsengarr
The task title is
"Rebuild zip from file needs to always return the zip file"
I've never seen that the following endpoint

​             /api​/SDK​/rebuild-zip-from-base64

would not return a ZIP with a successful (status code 200) response

However, in cases when the file cannot be processed (status code 400) or cannot be fount (status code 404) or is too big (status code 413) it do

[2021-07-09 09:59] mohitsengarr commented on #330
@ggrig Ok, These two endpoints return the rebuild zip(containing some info you can hit the API and explore the response zip for success case.)
While for error cases, we are not returning the zip just returning the JSON response.
So what we need to do here, we need to return zip in all cases. So, the question is what should have the zip for the error case. whatever the information we have before th

[2021-07-10 06:28] Lestat06 commented on #464
FYI @dpatel7

[2021-07-12 05:34] ggrig commented on #464
@mohitsengarr
Do those two machines run the same version of the Rebuild Engine?
Do they have same configuration (particularly RAM, CPU, Disk sizes)?

[2021-07-12 08:15] GINAGC opened #473 "GW cloud SDK initial training"
Good morning @Swathi Yerabolu your initial task is to:

1. Review all information under section “GW Cloud SDK” and understand how this product work. https://k8-proxy.github.io/k8-proxy-documentation/docs/products/gw%20cloud%20sdk/a-overview
2. Write a set of requirements (simple list) with the list of functionality that the cloud SDK supports.
3. Review latest release and deploy the AMIs: https://

[2021-07-12 09:46] mohitsengarr commented on #470
@Lestat06 I have tested both files
[pdf+img.zip](https://github.com/k8-proxy/cs-k8s-api/files/6800277/pdf%2Bimg.zip)
[pdf+img-encrypted.zip](https://github.com/k8-proxy/cs-k8s-api/files/6800295/pdf%2Bimg-encrypted.zip)
provided by you and these files are successfully processed. If you are getting the timeout error on specific server. We can increase the processing timeout, Because it could be poss

[2021-07-12 09:59] GINAGC commented on #450
@Lestat06 for QA regression.

[2021-07-12 09:59] GINAGC commented on #454
@Lestat06 just document this for now on wiki.

[2021-07-12 10:00] GINAGC commented on #332
@Lestat06 for regression.

[2021-07-12 13:18] mohitsengarr commented on #372
Added Below Headers to the api response.

`X-SDK-Engine-Type` it's possible values are Eval and Prod.
`X-CDR-Platform`  it's possible values are Classic and Go.
`X-SDK-Engine-Expiry-Date` it's value would be expiry date of the eval SDK.

[2021-07-12 15:02] GINAGC commented on #372
version v0.6.5

[2021-07-12 16:39] Lestat06 commented on #450
@mohitsengarr can i have more info please/

[2021-07-12 17:05] mohitsengarr commented on #450
@Lestat06 there is nothing to test for you in this ticket. Actually, there was a unused file which had some code scanning vulnerability. and this file has deleted in this fixed. @GINAGC

[2021-07-12 17:09] Lestat06 commented on #372
@mohitsengarr all that i can see in api/detail/version is the version of the sdk "classic"
are these info supposed to be in this endpoint or somehwere else?
tested with latest commit `a18f757`

![image](https://user-images.githubusercontent.com/6232283/125328193-5186c480-e344-11eb-8778-f2bd4b5319cd.png)

[2021-07-12 17:21] mohitsengarr commented on #372
@Lestat06 To test this ticket, we have to wait until @pranaysahith is not done with his changes.

[2021-07-12 17:26] Lestat06 commented on #450
Ok i will just try the endpoints for regression then. Thanks

[2021-07-12 17:47] Lestat06 commented on #452
@mohitsengarr the popup looks good,
however i see it also in https also after uploading the large files, which i guess is good. if u click `wait` the base64 gets copied on clipboard, however when u paste it to the `base64:` variable the page crashes again.
actually can we add the reason why page is not responsive sth like
**" Page unrensponive due to base64 code being too large"** or something in

[2021-07-12 17:51] mohitsengarr commented on #452
@Lestat06 this is due to the browser tabs memory limit. Data is too big to support this by the browser. It's not related to the cs-k8s-api.

[2021-07-12 17:53] mohitsengarr commented on #452
You can test the api with other tools like Postman

[2021-07-12 18:34] Lestat06 commented on #470
@mohitsengarr actually just tried this on develop and it works. however in version 0.6.0 still still throws timeout error

[2021-07-12 18:53] mohitsengarr commented on #470
@Lestat06 you have to ask from the devops to update the timeout.

[2021-07-12 21:31] Lestat06 commented on #467
@ggrig this is the status of the rebuild pods while running slowly the classic version in ck8s
![image](https://user-images.githubusercontent.com/6232283/125358409-2367ab80-e369-11eb-9411-006ccd9478b6.png)

[2021-07-12 21:54] Lestat06 commented on #449
this is fixed and now errors are more user frinedly in the latest commint in develop branch. thank you @ggrig
the below img is from ck8s-classic which had this issue with most of the files.
![image](https://user-images.githubusercontent.com/6232283/125360633-7131e300-e36c-11eb-9868-cd51e4db7c9d.png)

[2021-07-12 22:47] Lestat06 commented on #452
yeah i understand this is due to the size of base64 i just though there is a workaround as for the site.
However is crashing postam too

[2021-07-12 22:59] Lestat06 commented on #467
@ggrig
![image](https://user-images.githubusercontent.com/6232283/125365881-5c0d8200-e375-11eb-8012-380bb099baaa.png)

and this one is from classic k3s sdk. after 4 files left there were no rebuild pod is being created
the below pic with no rebuild pods is when the idle part is in the end of the process. u can check in the above pic in the end at 00.50 it topped creating rebuild pods
![image](http

[2021-07-13 10:46] GINAGC opened #476 "INC-6 Policy setting for metadata sanitisation is off"
# Sample Incidents Playbook

## Issue description: A downloaded a pptx file via the Menlo integration, shows thread as a medium in GW Desktop.

Possible reasons:
- Pptx files not rebuilt correctly.
- something is weird with the cloud-SDK deployment, it looks like the policy setting for metadata sanitization is off

<br>

## Incident Response Team:

**Incident First Responder -** Sudhish

**Inciden

[2021-07-13 12:53] ibrahimk9000 commented on #455
@Lestat06 @ggrig @GINAGC
the glasswall engine doesn't support ODT file format , and there is cases when it will be processed as  zip file ,  because zip and odt  have the same file structure
this is  why it will return  ""This endpoint doesn't accept the zip file."

[2021-07-13 13:07] PEpetra opened #477 "B Fixes"
Fixes to helm charts for deployment
![Screenshot 2021-07-13 at 14 04 20](https://user-images.githubusercontent.com/61695423/125456800-5ad396b8-ce72-4f07-8fa3-3e1d62319435.png)

[2021-07-13 14:19] PEpetra opened #478 "Runtime Container Images Fix"
![Screenshot 2021-07-13 at 14 17 18](https://user-images.githubusercontent.com/61695423/125468319-d5b16249-9ba3-41bf-aee1-e4a41fdb188f.png)

[2021-07-13 15:32] Lestat06 commented on #332
@GINAGC if this is just for regression on develop branch. currently we are blocked as we know due to know the incident here https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/71

[2021-07-13 15:42] Lestat06 commented on #455
@ibrahimk9000 however in F2F these files should give back File-not-supported not error-timeout:600.

[2021-07-13 16:20] PEpetra opened #479 "Fix Edgescan Findings"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link

[2021-07-13 16:34] GINAGC commented on #330
Assigning to Mohit as part of https://github.com/k8-proxy/cs-k8s-api/issues/329

[2021-07-13 17:09] GINAGC commented on #476
Assigning to Jurgen to retest once we have a new build and to document QA test cases @Lestat06

[2021-07-13 17:57] Lestat06 commented on #476
is this merged into develop?

[2021-07-13 18:31] GINAGC commented on #476
yes, just merged from https://github.com/k8-proxy/go-k8s-process/pull/109

[2021-07-14 04:34] GINAGC commented on #434
Assigning to @dpatel7 for testing.

[2021-07-14 04:34] GINAGC opened #480 "Helm chart deployments on AWS"

[2021-07-14 04:49] ggrig commented on #345
@GINAGC
As discussed during the meeting, I need to understand what are the complaints about logging.
Currently, we get logs in the CS SDK pods. IMHO, those are pretty restricted.
Of course, when processing 1000s of files and getting a dozen log lines per file that may seem a lot.
In that case we need to know which particular lines for a file should be removed there

[2021-07-14 08:52] gurunathg commented on #345
@ggrig Screenshots of logs
![Screenshot (32)](https://user-images.githubusercontent.com/17300331/125593488-1815dd17-df8f-4d5b-b58b-7462b65b5bb7.png)
![Screenshot (28)](https://user-images.githubusercontent.com/17300331/125593496-31411d49-5524-4dc5-bf8d-f70ba77d36e5.png)
![Screenshot (30)](https://user-images.githubusercontent.com/17300331/125593497-392a3566-2e13-4b4e-9444-78d65d4b2483.png)
![Scree

[2021-07-14 13:19] GINAGC commented on #189
@gurunathg any update on this one?

[2021-07-14 13:22] GINAGC commented on #452
@mohitsengarr can you check this one, why it is crashing postman?

[2021-07-14 13:24] GINAGC commented on #188
Sending back to @ggrig, please check previous comment.

[2021-07-14 13:42] mohitsengarr commented on #452
@Lestat06 can you please share the postman screenshot and file that is crashing the postman? @GINAGC

[2021-07-14 16:32] GINAGC commented on #455
@ibrahimk9000 please investigate the differences in error messages, since we should be displaying the unsupported message/status.

[2021-07-15 10:33] GINAGC commented on #372
@mohitsengarr sending back for this update:

instead of depending on the environment variable sdkEngineVersion I can return this value from the code. But the concern is it is limited to Minio only. I mean with minio cs-k8s-api have this value but not with classic. However, I can modify the core icap-request-processing code to expose this.

[2021-07-15 10:57] GINAGC commented on #464
@dpatel7 can you take a look to this issue? see the information added above by Mohit.

[2021-07-15 10:59] GINAGC commented on #470
@Lestat06 please review this, ask Himanshu or Pranay to support on updating timeout.

[2021-07-15 11:24] GINAGC commented on #471
@Lestat06 please test this one on develop and send me a link to swagger with these changes, I need to review with the product team if they would like any additional updates.

[2021-07-15 12:20] mohitsengarr commented on #330
1. /api/analyse/rebuild-zip-from-base64
2. /api/analyse/rebuild-zip-from-file
3. /api/SDK/rebuild-zip-from-base64
4. /api/SDK/rebuild-zip-from-file

These endpoints will return the response as a zip (binary content) even for the other than the `200` response status code.

[2021-07-15 13:44] ibrahimk9000 commented on #455
I tested ODT file in the classic version, and it returns the same message ``"This endpoint doesn't accept the zip file`."
I tested an  odt file with  zip endpoint and it processed with 207 staus ( it counted as zip file )
the error-timeout:600 is outside my scope of work, and I think its related to the ODT file processed as zip
I can add another layer of file detection designed especially for the

[2021-07-15 14:53] Lestat06 commented on #470
@GINAGC @mohitsengarr  tested this in develop and it seems its working now.

[2021-07-15 17:11] Lestat06 commented on #452
files send on slack

[2021-07-15 19:08] mohitsengarr commented on #452
@Lestat06 Postman is hanged to handled the base64 of 119MB file. Postman isn't crashing due to the cs-api but it can't handle the large base64 in it's request body. However, Postman is able to process the 119MB file.

![image](https://user-images.githubusercontent.com/43764140/125842684-fd3602c4-55d2-4b7f-a107-c3556c769a7f.png)

Swagger UI is broken due to the same and browser shown the OutOfMemor

[2021-07-16 09:09] Lestat06 commented on #452
@GINAGC there is not much we can do here with these large base64.
we can get the base64 from swagger but still it will crash when we paste into the request body due to memory inavailability of the browser

[2021-07-16 15:54] GINAGC commented on #455
I think I will ask the core team to take a look to this one.

[2021-07-17 15:58] farringtonp opened #486 "The documentation in this repo seems really out of date"
The documentation seems out of date and misleading for this repo. It needs to be updated.

Too many references to ICAP which undermines the true utility of this API for all use cases

[2021-07-17 16:42] haitham911 opened #487 "api-resources"
when using f2f sample govUk with 50 thread i found that resources of API pod memory increase and continue  increase  as this screenshot
![api-](https://user-images.githubusercontent.com/10202798/126043864-3eb35f76-a014-4748-84c0-53a037f160fa.png)

[2021-07-18 14:46] farringtonp commented on #406
I've made some updates to the openapi.json file

[2021-07-18 14:48] farringtonp opened #490 "create binary endpoint for FileTypeDetection"
Currently there is only a http://localhost/api/filetypedetection/base64 endpoint - is there a reason why we haven't created a binary version? Need to check that the engine supports this

[2021-07-18 20:33] Lestat06 commented on #476
this is ok now in develop
this is fixed in develop for filedrop
![image](https://user-images.githubusercontent.com/6232283/126081189-d98a2da3-0808-4348-8614-8cd1516167fc.png)
also changed the policies in swagger and the filedrop policies didnt get affected

[2021-07-18 20:39] Lestat06 commented on #469
@GINAGC this is the first patch for the test scenarios. tab1 has the steps, tab1 has the steps in Gherkin language which can be used in spira and for automation.
This also needs to be reviewd from someone that has exp with Gherkin. Updated with the latest endpoints. keep in mind thesea re the steps for the AMIs for now.
https://docs.google.com/spreadsheets/d/1WAlvpW1M9EsF2ruyEJ-gW83LlhNcyzJcY_sUe2

[2021-07-19 06:59] GINAGC commented on #406
@Lestat06 assigning to you to QA in develop:

- Please notice the updates on swagger from SDK to API, see PR https://github.com/k8-proxy/cs-k8s-api/pull/485/files
- All updates from https://github.com/k8-proxy/cs-k8s-api/issues/471

[2021-07-19 07:00] GINAGC commented on #486
Yes, we have been updating only the wiki, we will take care of this.

[2021-07-19 07:27] #332 closed

[2021-07-19 07:27] Lestat06 commented on #471
@GINAGC i checked these from the golang version from develop branch. the following are the observations
- title is not "Glasswall Cloud SDK API" but Glasswall Cloud API
- in the ANALYSE section this phrase doesnt make sense for me _"On success, the Report file returned in the response body."_
needs to be changed to "On success, the Report XML file is returned in the response body". Also in _"Analy

[2021-07-19 07:40] Lestat06 commented on #372
@GINAGC  @mohitsengarr cant see the engine version (prod or eval) and expiry date
cdr-platform is ok
are these supposed to be only for main branch?
![image](https://user-images.githubusercontent.com/6232283/126121270-b90d60db-1581-4839-9d38-c1c3e2f05ecb.png)

[2021-07-19 07:40] #409 closed

[2021-07-19 07:49] mohitsengarr commented on #372
@Lestat06 engine version (prod or eval) will always available but expiry date will only available if engine version is eval.

[2021-07-19 07:55] Lestat06 commented on #372
@mohitsengarr great but is it supposed to say PROD or EVAL somewhere

[2021-07-19 07:56] mohitsengarr commented on #372
Yes.

[2021-07-19 08:19] mohitsengarr commented on #372
Added Below Headers to the API response.

1. `X-SDK-Engine-Version` This header will show the `Glasswall SDK Engine` version that is being used for the current release. This is dynamic now, Go-Minio is exposed the `Glasswall SDK Engine` version and same is being returned in the API response's header. However, `X-SDK-Engine-Version` is only available for minio-icap version. We are working on the cl

[2021-07-19 08:20] GINAGC commented on #372
@Lestat06 please make sure that after testing, the above is added to the documentation. Please add screenshot here on how the above looks.

[2021-07-19 08:26] GINAGC commented on #471
@Lestat06

1.- Is expected
2 and 3.- Agree, please do the updates and send a PR.
4.- please also send a PR with the update.
5.- please send PR
6.- please send PR
7.- agree, please send PR.
8.- please open an issue
9.- please open a P1 issue and send on channel for Mohit to comment.

Thank you!

[2021-07-19 08:34] Lestat06 commented on #406
@GINAGC gave my review for this in #471

[2021-07-19 08:36] Lestat06 commented on #471
@GINAGC will confirm the above also in the new trigger  for the classic from the above and then take action

[2021-07-19 09:07] GINAGC commented on #345
@mohitsengarr sending this one to you, since Harut needs to move to F2F project.

[2021-07-19 09:09] GINAGC commented on #468
Pausing due to new GW K8 project

[2021-07-19 09:16] Lestat06 opened #491 "Base64 endpoints missing upload ffile option"
All the endpoints that Base64 encoded files are missing the option where user uploads a file and gets the files Base64 representation and copies it in clipboard. this is in the latest from develop
![image](https://user-images.githubusercontent.com/6232283/126135866-e52b0bd5-a087-4321-95f7-c59c2d191edb.png)

[2021-07-19 09:19] Lestat06 opened #492 "Broken endpoints `/api/composite/rebuild-zip-from-file` and `/api/composite/rebuild-zip-from-base64`"
these 2 new endpoints /api/composite/rebuild-zip-from-file and /api/composite/rebuild-zip-from-base64 seem to not redirect somewhere. this can be duplicated from the latest in branch develop
![image](https://user-images.githubusercontent.com/6232283/126136209-c41d849f-8b61-4c94-996a-440570f57465.png)

[2021-07-19 11:14] Lestat06 opened #494 "Typos in the meaning of some phrases in Swagger"
1.- in the ANALYSE section this phrase doesn't make sense for me "On success, the Report file returned in the response body."
needs to be changed to "**On success, the Report XML file is returned in the response body**".

2.- In "Analyse a binary file for the presence of malicious data." ANALYSE-->ANALYSES which give the meaning that the endpoint analyses.

3.- /api/rebuild/file has the same issue

[2021-07-19 11:24] Lestat06 commented on #372
@GINAGC @mohitsengarr this is how it looks now. the pic is from api/detail/version. what is missing is `x-SDK-engine-Type` and `X-SDK-Engine-Expiry-Date` are missing
![image](https://user-images.githubusercontent.com/6232283/126152874-687dc29b-3cb8-4278-b067-c372f91d6e17.png)

[2021-07-19 11:43] GINAGC opened #496 "Rename SDK/Composite section endpoints"
Rename endpoints on swagger and on code:

1.- From /api/sdk/rebuild-zip-from-file to /api/composite/rebuild-zip-from-file

2.- From /api/sdk/rebuild-zip-from-base64 to /api/composite/rebuild-zip-from-base64

Note: I will hold this in develop to merge it alone to main and sync releases with F2F.

[2021-07-19 12:15] mohitsengarr commented on #372
@pranaysahith isn't environment variable being set for these?

[2021-07-19 13:22] GINAGC commented on #469
@SwathiYerabolu please review the test scenarios above, can you try to follow all of them and add any feedback/updates as needed.

[2021-07-19 13:27] GINAGC commented on #490
@mohitsengarr do not start this one yet, just comment if you know if the engine already support this.

[2021-07-19 13:44] mohitsengarr commented on #490
@GINAGC we can add filetypedetection/file endpoint.

[2021-07-19 14:59] Lestat06 commented on #491
@GINAGC this is OK now in develop. tested with golang version from develop branch
![image](https://user-images.githubusercontent.com/6232283/126180980-7f6953df-ba65-4e29-8bf0-fab76d1fea7e.png)

[2021-07-19 15:12] Lestat06 commented on #492
@GINAGC this is ok from develop branch.
tested with golang version from develop
![image](https://user-images.githubusercontent.com/6232283/126183503-f74651ff-50d0-4375-8258-3923a9ba3972.png)

[2021-07-20 06:50] GINAGC opened #501 "Update headers"
farringtonp has changed header name X-SDK-Api-Version to X-Glasswall-Cloud-Api-Version that is the breaking change. Please update

[2021-07-20 08:38] GINAGC opened #504 "Missing SDKEngineVersion for classic"
BDD test cases are failing due to missing SDKEngineVersion header for classic.

[2021-07-20 10:36] himanshu2464 commented on #487
@haitham911 @GINAGC
yes this is correct but this should crash anything, as we have provided a memory limit to 2Gi.

[2021-07-20 11:33] Lestat06 commented on #372
@GINAGC this is ok now in golang-k3s
![image](https://user-images.githubusercontent.com/6232283/126316995-0c5f5aad-de36-4205-ab24-cfcbdc746870.png)
in classic-k3s is missing the engine-version
![image](https://user-images.githubusercontent.com/6232283/126317066-bba92957-9cd5-4fb2-b9be-dcbb5f5408d0.png)
and also these updates are not included in ck8s

[2021-07-20 19:39] GINAGC opened #512 "Remove secrets"
https://github.com/k8-proxy/cs-k8s-api/security/code-scanning/5?query=ref%3Arefs%2Fheads%2Fdevelop

[2021-07-21 18:25] #189 closed

[2021-07-21 18:25] #501 closed

[2021-07-21 18:26] #452 closed

[2021-07-21 18:26] #65 closed

[2021-07-21 18:26] #512 closed

[2021-07-21 18:26] #471 closed

[2021-07-21 18:29] #491 closed

[2021-07-21 18:29] #470 closed

[2021-07-21 18:30] #449 closed

[2021-07-21 18:30] #476 closed

[2021-07-21 18:30] #422 closed

[2021-07-21 18:31] #454 closed

[2021-07-21 18:31] #450 closed

[2021-07-21 18:31] #303 closed

[2021-07-21 18:31] #380 closed

[2021-07-21 18:31] #492 closed

[2021-07-21 18:32] #406 closed

[2021-07-21 19:08] GINAGC commented on #466
@Lestat06 when we have the new release, please test the following:

- How many servers do we need to process 35K files per hour using the latest minio version on CK8?
- What happens if we distribute the traffic of these 35K files per hour on 6 to 10 servers. Does it fail? how much time does it take to process?

[2021-07-21 19:54] Lestat06 commented on #504
@mohitsengarr  this is still an issue. also BDD test failed
![image](https://user-images.githubusercontent.com/6232283/126551444-52f6e212-29a2-430b-bb74-d7da752b668d.png)
![image](https://user-images.githubusercontent.com/6232283/126551478-78b8ab9a-d4ea-4151-a616-c5b505beb349.png)

[2021-07-21 19:59] mohitsengarr commented on #504
@Lestat06 now, it is confirmed that environment variable isn't set.

[2021-07-22 06:34] mohitsengarr commented on #188
@Lestat06 please provide the files that you have tested. However, it doesn't seems to be an issue with cs-api. because api will respond in a same way for all clients either file-drop, desktop or folder-to-folder.

[2021-07-22 06:36] mohitsengarr commented on #467
@Lestat06 please test on latest and let me know about this issue.

[2021-07-22 10:17] mohitsengarr commented on #188
@Lestat06 This is not an issue with cs-api. you can check the api separately from their UI.

Below are the swagger links for both

1. https://labs.glasswallsolutions.com/swagger/index.html
2. https://corpfiledrop.glasswallsolutions.com/swagger/index.html

if you will not get the same status from these for same file. Please open a ticket for Devops or respective team.

@GINAGC

[2021-07-22 12:02] Lestat06 commented on #188
@mohitsengarr u are right they dont htrow the same message and some files ger processed in swagger while in filedrop they throw the API error

[2021-07-22 14:34] GINAGC opened #520 "Get to 35K processed files with F2F and latest minio release"
- to focus on getting to 35K files per hour with auto-scaling and prepare some initial results by Friday. Let's see the results and we can discuss this in the session that we have on Monday.
- Test with 10 servers, 20 servers.
- To use the latest release from minio on CK8 (will be ready in max 2 hours hopefully)
- Dashboard from F2F
- Dashboards from CK8

[2021-07-22 16:10] GINAGC commented on #188
This is duplicated with issue in the UI side: https://github.com/k8-proxy/k8-rebuild-file-drop/issues/44

[2021-07-22 16:10] #188 closed

[2021-07-23 10:11] mohitsengarr commented on #345
Microsoft logs are configurable and `default` value is `Warning` now. if we need to update the LogLevel for Microsoft logs then it can be done by setting the environment variable `MicrosoftLogLevel`.

Possible values for this environment variable are:

1. Trace
2. Debug
3. Information
4. Warning
5. Error
6. Critical
7. None

[2021-07-23 11:07] Lestat06 commented on #467
@mohitsengarr cant test this uet since engine version is missing and cant connect to the f2f

[2021-07-23 11:08] Lestat06 commented on #496
this is ok in develop and confirmed
![image](https://user-images.githubusercontent.com/6232283/126773655-c69a5455-33d4-4750-afc6-3134df955b5d.png)

[2021-07-23 11:08] Lestat06 commented on #504
@GINAGC FYI

[2021-07-23 11:57] Lestat06 commented on #494
1- is ok just missed a dot in the end of the sentence but it makes sense now
![image](https://user-images.githubusercontent.com/6232283/126774304-5b37aa71-3a68-41e2-b6a2-e33a417fecbe.png)
2- needs to be in both analyse endpoints
![image](https://user-images.githubusercontent.com/6232283/126777704-6b99849e-0d0d-4f9e-8a4b-96f74f8e74b9.png)
3-  is ok
4- is ok
5- is ok
6- has no changes
![image](https

[2021-07-23 12:11] mohitsengarr commented on #494
@Lestat06 for 6th point, I have added with "additional information". In description can't specify every property. user can check the example value and schema, below. For other point will check-in.

![image](https://user-images.githubusercontent.com/43764140/126779784-5b914cf7-76ea-44a8-9052-97cfb4f6b980.png)

[2021-07-23 12:38] mohitsengarr commented on #405
@GINAGC We are already returning the FileId in response header for each request and Header key is `X-Adaptation-File-Id`. Please let me know if there is any specific case where the fileId isn't present.

[2021-07-23 13:28] SwathiYerabolu commented on #473
GW cloud SDK is used to rebuild a file and removes malicious content.
The file types that are accepted are the following
- Word (doc, dot, docx, dotx, docm, dotm)
- Excel(xls, xlt, xlm, xlsx, xlsm, xltx, xltm, xlam)
- PowerPoint(ppt, pot, pps, pptx, potx, ppsx, pptm, potm, ppsm, ppam)
- PDF
- Images(JPEG, PNG, GIF, EMF, WMF, TIFF, GeoTIFF, BMP)
- Audio(WAV, MP3)
- Video(MPG, MP4)
- Portable execut

[2021-07-23 14:17] Lestat06 commented on #417
this seems to be fixed in the latest from develop. i shut down the machine and booted it up again. opened the IP as soon as the vm passed the 2 health checks and all was good and was able to rebuild
![image](https://user-images.githubusercontent.com/6232283/126794856-5f5647f9-c454-463c-aa6a-efff663e361b.png)

![image](https://user-images.githubusercontent.com/6232283/126795092-0a58140d-7bc1-4ff6-a

[2021-07-23 15:14] Lestat06 commented on #494
@GINAGC this is ok now and confirmed

[2021-07-23 17:36] #473 closed

[2021-07-23 19:23] Lestat06 commented on #372
@mohitsengarr  the X-SDK-Engine-Type and  X-SDK-Engine-Expiry-Date is missing from ck8s version.
![image](https://user-images.githubusercontent.com/6232283/126831310-9125fa88-faf9-4b51-9c5c-d2e47cfd3d2f.png)

[2021-07-23 19:38] #417 closed

[2021-07-23 19:39] GINAGC commented on #467
Closing, not fixing for now.

[2021-07-23 19:39] #467 closed

[2021-07-23 19:39] GINAGC commented on #504
Not fixing for now, since we are depecrating classic.

[2021-07-23 19:39] #504 closed

[2021-07-26 02:43] GINAGC opened #527 "Updates to prod SDK on Cloud API"
next steps:
update the helm charts to use prod docker image whenever required.
update CI/CD pipelines to use the updated helm charts during build.

[2021-07-26 05:19] GINAGC opened #528 "Add Json file that has the metadata that we have in F2F"
- Mohit, please review what metadata we have in the F2F that we don't have in the cloud API. This is with the purpose of having better information for dashboards and monitoring.

[2021-07-26 05:29] GINAGC commented on #405
@gurunathg and @pranaysahith do you need anything else for monitoring purposes?

[2021-07-26 09:19] gurunathg commented on #405
@mohitsengarr is the header returned even for rebuilt failed files?

[2021-07-26 13:08] GINAGC opened #530 "Remove local type check for api/rebuild/zipfile"

[2021-07-27 06:12] GINAGC opened #537 "Add Report.xml as a new feature collecting data from the core team"

[2021-07-27 06:12] GINAGC opened #538 "Create a negative test scenario with the failed files (automation)"

[2021-07-28 10:38] kekesimarti opened #543 "Fix denial of service for the web proxy"
The web proxy service is responsible for getting the files and passing them to the internal microservices; if the web proxy is down, the entire solution won’t work as it’s acting as a getaway to other internal microservices.

**Recommended mitigation:**
The web proxy only catching requests and passing them; this has to be checked based on the resource’s allocation. The team will check for the reso

[2021-07-28 10:47] kekesimarti opened #544 "Enforce secure deployment to Cloud SDK clients"
While inspecting the deployments guidelines, the client is not forced to deploy the services, including infra as code securely.

**Recommended Mitigation**
The deployment is related to the customer; the customer can decide how they want to deploy the application; the security team will make a disclaimer on the deployment when the customer types the commands in the terminal, where the customer shou

[2021-07-28 10:54] kekesimarti opened #545 "Fix unencrypted files in the storage volume"
When the files passed from the web proxy (the application’s getaway) to be processed to the Queue, there’s no encryption placed in the files themselves. Thus, the attackers can easily read the files in a clean cypher in typical data breach scenarios.
Minio encryption is also needed.

**Recommended Mitigation:**
It’s been verified with the development team that there’s no encryption on the files th

[2021-07-28 11:37] kekesimarti opened #546 "Fix abusing the API and Queue service"
The API and the Que accept unlimited amounts of requests. The solution doesn’t limit the number of files that can be rebuilt in seconds or minutes; the Queue can get millions of files; this service in real-world cases can be abused by sending millions of PDFs to the web proxy and perhaps generate downtime on the customer-side or resource consumption which leads to more charges on pay-as-you-go pla

[2021-07-28 11:43] kekesimarti opened #547 "Fix the issue that some internal microservices run as root / privileged"
The deployment of Cloud SDK internal Microservices runs as root; with such privileges, it’s likely attackers could exploit this by escalating their privileges if they got inside the system.

**Recommended Mitigation**
Conduct a privileges escalation test by a security researcher to see if it’s possible to abuse these internal microservices.

[2021-07-28 14:13] #496 closed

[2021-07-28 14:13] #494 closed

[2021-07-28 14:18] GINAGC commented on #372
We will do this one next week after we move to eap-releases repo.

[2021-07-28 15:49] mohitsengarr commented on #202
Extended functionality of endpoint `/api/analyse/xmlreport`. Now, this endpoint is support to return the report in `JSON` format. To get the report based on format, user has to pass the `format` parameter with the `request`. Possible values of `format` are:

1. `XML`
2. `JSON`

If `format` is not passed with the request then default format is `XML`. For more details please visit the `Swagger`.

@G

[2021-07-28 22:02] Lestat06 commented on #202
this is now a feature in the develop
@GINAGC

![image](https://user-images.githubusercontent.com/6232283/127401560-a552e82b-1640-48c5-878a-44a0a720dfa7.png)
![image](https://user-images.githubusercontent.com/6232283/127401971-adbef67e-eb60-488d-a2ac-0c02e96f2b98.png)

[2021-07-29 01:20] Lestat06 commented on #530
@GINAGC the endpoint seems to be ok
tested with zip with:
excel
pdf
powerpoint
word
mix
with 19 files inside pdf
with 26 files inside pdf
with 29 files inside pdf
however at 30 files inside it fails. pods dont even start. it seems that is the limit

[2021-07-29 04:03] GINAGC commented on #530
@Lestat06 please open separate issues for the 30 files inside issue. We need to review for next release.

[2021-07-29 04:05] GINAGC commented on #202
@Lestat06 please make sure that both options work and you get the correct report. Lets also add to the documentation please.

[2021-07-29 08:04] Girish-pingala commented on #477
@GINAGC  Raised PR https://github.com/filetrust/icap-infrastructure/pull/838 for k8-proxy/icap-infrastructure changes.
Remarks -  runAsNonRoot: true, readOnlyRootFilesystem: true is not updated in the yaml as pod won't start.

Role with dangerous permissions cannot be removed. I will try to do more analysis and update on why we cannot remove this role.
![image](https://user-images.githubuserconten

[2021-07-29 09:32] Girish-pingala commented on #477
@GINAGC PR https://github.com/k8-proxy/cs-k8s-api/pull/552 has been raised for changes on cs-k8s-api.

[2021-07-29 10:18] GINAGC commented on #372
This needs to be retested from eap-releases repo.

[2021-07-29 10:24] Lestat06 opened #553 "Composite endpoints fail to process zip files"
`api/composite/rebuild-zip-from-file`  and  `api/composite/rebuild-zip-from-base64` fail to process the zip file while there is no restriction for zip files.
Error:  Report XML not exist for file
Replicate by trying to rebuild a zip file in the endpoints above

![image](https://user-images.githubusercontent.com/6232283/127475928-5aaf8f53-f1bb-44a7-abd0-cd817f740729.png)

[2021-07-29 10:44] GINAGC commented on #477
Thank you @Girish-pingala, @pranaysahith please review PR.

[2021-07-29 11:15] GINAGC commented on #477
@himanshu2464, @mahnouman please review the vulnerabilities on this ticket that belong to SRV repo in go.

[2021-07-29 11:38] Lestat06 commented on #530
Updated comment above

[2021-07-29 11:47] Lestat06 commented on #553
this is working in develop, however the xml format does not have the usual format

[2021-07-29 12:00] Lestat06 commented on #202
below is the xml and json report from the endpoint for a pdf file previously rebuild
![image](https://user-images.githubusercontent.com/6232283/127488087-57381978-5842-41a1-b20f-c64dd64c6ddc.png)
![image](https://user-images.githubusercontent.com/6232283/127488119-2309ade2-8a5c-4c53-9129-bb632e0dd4c6.png)

[2021-07-29 12:14] luker-GW opened #554 "Technical writer review to all documentation"
Template EAP EPIC

[2021-07-29 12:14] luker-GW opened #555 "Improve the data send to the API service cluster"
Template EAP EPIC

[2021-07-29 12:14] luker-GW opened #556 "Continue Performance testing"
Template EAP EPIC

[2021-07-29 12:16] luker-GW opened #557 "Auto scaling testing and documentation"
Template EAP EPIC

[2021-07-29 12:17] luker-GW opened #558 "Deprecate Cloud API classic"
Template EAP EPIC

[2021-07-29 12:25] luker-GW opened #559 "API regression automation"
<br/>

[2021-07-29 12:26] luker-GW opened #560 "Visualisation and dashboards"
Validations on the data sent from the API to the service cluster and capabilities to create proper visualisations and dashboards.

[2021-07-29 12:26] luker-GW opened #561 "Continue Performance testing"
Template EAP EPIC

[2021-07-29 12:27] luker-GW opened #562 "Continue security review and make repo private"
Template EAP EPIC

[2021-07-29 15:50] mohitsengarr commented on #405
yes, @gurunathg @GINAGC

![image](https://user-images.githubusercontent.com/43764140/127523838-42692a84-c2c5-40a2-9581-955f85d2cee2.png)

header will be returned. if you have any specific case please let me know.

[2021-07-29 16:38] Lestat06 commented on #345
It looks like the aligning and the logs are more user friendly now, @gurunathg can confirm pls

![image](https://user-images.githubusercontent.com/6232283/127521489-29128a22-be21-42f7-b1a4-f54618402b85.png)
![image](https://user-images.githubusercontent.com/6232283/127521529-b4d3606b-11f6-4d73-a382-2a012bfb95ca.png)
![image](https://user-images.githubusercontent.com/6232283/127521575-e6c5d20c-bac4

[2021-07-30 06:18] GINAGC commented on #528
@mohitsengarr this is paused for now, the Menlo team will create the schema and will let us know exactly what is needed.

[2021-07-30 06:20] GINAGC commented on #405
@gurunathg is there anything else needed on the topic of the file ID?

[2021-07-30 06:35] GINAGC commented on #544
@gurunathg please take a look to this one.

[2021-07-30 06:36] GINAGC commented on #543
@gurunathg please take a look to this one.

[2021-07-30 06:55] mohitsengarr commented on #453
@Lestat06 is this still an issue?

[2021-07-30 07:09] GINAGC opened #563 "Server crash after bad request"
as soon as I make one requests and get the 403 Forbidden request , the server crashes

[2021-07-30 07:15] GINAGC commented on #563
not correct place

[2021-07-30 07:25] mohitsengarr commented on #200
@svf97 How often is issue is coming out? Can you please share the reproducing steps? is it still occurring?

[2021-07-30 07:34] mohitsengarr commented on #547
@GINAGC It is related to kubernetes config. please assign to Devops team.

[2021-07-30 08:09] dtollaku commented on #563
@gurunathg has disabled the WAF as requested by Dinis.

[2021-07-30 08:30] mohitsengarr commented on #545
@GINAGC it's has to be implemented in icap(go/classic) first then cs-api will implement.

[2021-07-30 09:03] mohitsengarr commented on #124
@GINAGC this information should pass from the deployment by the Devops team using the environment variable. So, i can add the same in header response.

[2021-07-30 11:17] gurunathg commented on #543
Updates:
https://github.com/k8-proxy/gw-menlo-integration/issues/197#issuecomment-889823696

[2021-07-30 12:00] gurunathg commented on #544
@PEpetra @GINAGC  Regarding https://github.com/k8-proxy/cs-k8s-api/issues/544,
Currently, to deploy ck8 based cloudSDK, our recommended method is to use cloudformation template which has been hardened based on our security practices. In cases where the stack is deployed directly using AMI, we will have certain ports exposed (Ref https://github.com/k8-proxy/go-k8s-infra/issues/94).
1. We can disabl

[2021-08-01 18:06] svf97 commented on #200
@mohitsengarr this issue was for https://labs.glasswallsolutions.com:8080/swagger/index.html
no issues loading: https://cloud-sdk.glasswallsolutions.com/swagger/index.html

[2021-08-02 04:11] #345 closed

[2021-08-02 04:12] #527 closed

[2021-08-02 04:12] #530 closed

[2021-08-02 04:15] GINAGC commented on #408
Initial performance testing completed, pending to document.

[2021-08-02 04:15] #408 closed

[2021-08-02 04:56] gurunathg commented on #354
Part of new solution: https://github.com/k8-proxy/GW-K8-Level1

[2021-08-02 05:25] gurunathg commented on #458
Will be addressed as part of new solution https://github.com/k8-proxy/GW-K8-Level1

[2021-08-02 05:25] gurunathg commented on #423
will be addressed as part of new solution https://github.com/k8-proxy/GW-K8-Level1

[2021-08-02 05:25] gurunathg commented on #442
Will be addressed as part of new solution https://github.com/k8-proxy/GW-K8-Level1

[2021-08-02 11:30] GINAGC commented on #124
@himanshu2464 please comment on this one. Same @gurunathg

[2021-08-02 11:31] GINAGC commented on #556
duplicated with https://github.com/k8-proxy/cs-k8s-api/issues/557

[2021-08-02 11:31] #556 closed

[2021-08-02 11:32] GINAGC commented on #562
@mohitsengarr any impact on making CS API repo private?

[2021-08-02 11:33] GINAGC commented on #558
@gurunathg please deprecate classic version on eap-releases.

[2021-08-02 11:34] GINAGC commented on #555
@dtollaku and @gurunathg we are not starting with this on sprint 3, since we are going to define the exact data that we need for good dashboards in Menlo project. After that, we will ask to cloud API for that exact info.

[2021-08-02 11:36] GINAGC commented on #545
Thank you @mohitsengarr. @ibrahimk9000 please take a look.

[2021-08-02 11:37] GINAGC commented on #547
@gurunathg please review.

[2021-08-02 11:38] GINAGC commented on #546
Not assigned, needs to be discussed with product team.

[2021-08-02 11:39] GINAGC commented on #487
@mahnouman is this related to the memory issue we reviewed?

[2021-08-02 11:40] GINAGC commented on #553
for @Lestat06 to test and close.

[2021-08-02 11:41] GINAGC commented on #528
this will be handled on separate issue.

[2021-08-02 11:41] #528 closed

[2021-08-02 11:43] GINAGC commented on #200
@mohitsengarr I still see this issue by saving and reopening the swagger page.

[2021-08-02 12:14] gurunathg commented on #547
@GINAGC If a policy is applied to prevent containers from running as root, the majority of containers are failing. This requires review from dev of each microservice

[2021-08-02 12:17] gurunathg commented on #558
@GINAGC Classic is removed from EAP-Releases

[2021-08-02 12:41] gurunathg commented on #124
is this related to the version of the Kubernetes deployment? Is this version of the Kubernetes engine version?
In that case, it will lead to information disclosure vulnerability in future pentesting activities, as we cannot disclosure the version of the cluster in response. This will help attackers to tailor attacks to that specific version and known vulnerabilities

[2021-08-02 13:24] GINAGC commented on #124
Removing from sprint, this should be done with BYOC.

[2021-08-02 13:41] mohitsengarr commented on #562
@gurunathg  Will auto tagging work with private repo? and Will it impact on passing the environment variables?

@GINAGC

[2021-08-02 13:55] gurunathg commented on #562
@mohitsengarr Since we have GITHUBPAT configured, auto tagging will work

[2021-08-02 14:03] mohitsengarr commented on #200
Can you please provide the steps of action you have taken? So, I can reproduce at my side. @GINAGC

[2021-08-02 14:39] GINAGC opened #564 "Missing policies on XML"
@GINAGC commented on [Thu Jul 22 2021](https://github.com/k8-proxy/gw-menlo-integration/issues/188)

it looks like we are missing some policies here https://github.com/k8-proxy/go-k8s-process/blob/main/dep/config.xml, the team just shared this example with all the policies.

XML file sent with all needed policies.

[2021-08-02 16:23] Lestat06 commented on #453
@mohitsengarr  @GINAGC

`/api/rebuild/file`  and   `/api/SDK/rebuild-zip-from-base64` now give the below pic as response which is ok since is a file with issues

![image](https://user-images.githubusercontent.com/6232283/127893094-dc7eca03-d6ac-4efe-b785-3e26944b68fe.png)

[2021-08-02 16:25] #453 closed

[2021-08-02 16:26] Lestat06 commented on #553
this is a feature now in the latest version. closing FYI @GINAGC

[2021-08-02 16:26] #553 closed

[2021-08-02 16:27] mohitsengarr commented on #562
@GINAGC there will be no issue then.

[2021-08-02 16:28] GINAGC commented on #200
@mohitsengarr
1.- Open swagger
2.- download as HTML page
3.- open it again in browser

[2021-08-02 16:35] mohitsengarr commented on #200
@GINAGC we can not open the swagger from the saved html. Every time we need to access the swagger URL not the saved html.

[2021-08-02 17:40] Lestat06 commented on #486
@GINAGC are we talking about readme.md or documentation.md? either way these documentation and the steps there need to be also viewd from someone from the devs since there are new steps that are being used now for the deployment and i will need assistance with that

[2021-08-03 06:57] mohitsengarr commented on #562
@GINAGC I don't have sufficient permission to make this repo private. So, you can take the appropriate action.

[2021-08-03 08:19] GINAGC commented on #458
@gurunathg remediations to implement:

[FAIL] 1.1.12 Ensure that the etcd data directory ownership is set to etcd:etcd (Automated)
[FAIL] 1.1.19 Ensure that the Kubernetes PKI directory and file ownership is set to root:root (Automated)
[FAIL] 1.2.6 Ensure that the --kubelet-certificate-authority argument is set as appropriate (Automated)
[FAIL] 1.2.23 Ensure that the --audit-log-maxage argument i

[2021-08-03 10:41] GINAGC commented on #478
Dependency on GW K8 project.

[2021-08-03 10:43] GINAGC commented on #200
ok, then we are closing as unable to duplicate.

[2021-08-03 10:43] #200 closed

[2021-08-03 10:44] gurunathg commented on #405
@GINAGC In my understanding, the request is to add file id that is received from headers in filedrop UI screen

[2021-08-03 10:47] GINAGC commented on #405
This seems to be a request for Filedrop. I am moving this for filedrop for sprint 4 to review if we really need this.

[2021-08-03 10:51] GINAGC commented on #564
@mohitsengarr sending to you to do the needed updates from API. We need to test this one on separate branch.

[2021-08-03 10:55] GINAGC commented on #464
@dpatel7, @Lestat06 is this still an issue?

[2021-08-03 11:27] VladislavCp commented on #469
@SwathiYerabolu , can you please update me if all test cases are done for this one and located on Spira, if yes, share pls it with me, thanks.

[2021-08-03 11:37] VladislavCp commented on #203
@mohitsengarr , please let me know if everything is clear on this task, or mb there needed to contact the DevOps team to clarify this one.

[2021-08-03 11:40] mohitsengarr commented on #203
Thanks @VladislavCp , If i need any information on this then I'll connect with DevOps team.

[2021-08-03 11:43] gurunathg commented on #543
Summary of discussion with Infosec team: To be discussed at design level and then to be addressed

[2021-08-03 11:44] gurunathg commented on #547
Summary of discussion with Infosec team: Owners of all containers/pods to review and address at each pod level to run as non root

[2021-08-03 11:44] gurunathg commented on #544
Summary of discussion with Infosec team: Can be considered closed as we are enforcing security guidelines at CF and terraform level

[2021-08-03 11:46] VladislavCp commented on #466
@Lestat06 , can you please update the status of this one ?

[2021-08-03 11:59] Lestat06 commented on #466
@VladislavCp this is currently blocked since f2f cant connect to the latest cloud API

[2021-08-03 12:00] VladislavCp commented on #479
@Girish-pingala ,  can you please update on this one, and provide the estimation.

[2021-08-03 12:52] Girish-pingala commented on #479
Hi @VladislavCp @GINAGC , for this task https://github.com/k8-proxy/cs-k8s-api/issues/479 , It says TLS 1.0 is detected but I see that TLS is disabled - https://github.com/k8-proxy/cs-k8s-api/blob/a694a4689b3537b9711353c11d11c2da3d80c6c8/infra/kubernetes/chart/values.yaml#L38 .

Could you please share the snyk link or the file it is pointing because I don't see it in snyk. Please check below scree

[2021-08-03 15:35] GINAGC commented on #544
based on the discussion, this is now closed.

[2021-08-03 15:35] #544 closed

[2021-08-03 15:36] GINAGC commented on #547
@mahnouman can you start taking a look to this one?

[2021-08-03 16:34] GINAGC commented on #486
@Lestat06 lets merge those MD files in readme. Please update the sections that you know. Add here the sections where you need support (after your changes) and I will ask dev to support.

We have the most recent information on wiki, so you can take documentation from there as needed.

[2021-08-04 04:20] gurunathg commented on #479
Addressed TLS related issues at the Loadbalancer level.

To be linked with : https://github.com/k8-proxy/gw-menlo-integration/issues/202

[2021-08-04 09:44] VladislavCp opened #565 "Test Cloud API release 0.9.0 with OVAs format in online deployment"
- Please be sure, that you generate needed OVAs

[2021-08-04 11:21] VladislavCp commented on #565
Release: https://github.com/k8-proxy/cs-k8s-api/releases/tag/v0.9.0
OVAs in progress here: https://github.com/k8-proxy/EAP-releases/actions/runs/1097477334

[2021-08-04 11:50] VladislavCp commented on #490
@GINAGC , will be done up to tommorow. (05.08)

[2021-08-04 11:51] VladislavCp commented on #564
@GINAGC , will be done up to 11.08

[2021-08-05 07:47] SwathiYerabolu opened #567 "selecting file in base64 endpoint gives error in Firefox and Safari (Failed to copy to clipboard)"
@SwathiYerabolu commented on [Tue Aug 03 2021](https://github.com/k8-proxy/k8-rebuild-file-drop/issues/159)

Below is the screen shot of both browsers when tried to select a base64 file. Copied the file as base64 to clipboard in chrome.
Error is shown when Firefox browser or Safari is used "Failed to copy file as base64 to clipboard"

<img width="1440" alt="Screenshot 2021-08-03 at 8 18 11 PM" src

[2021-08-05 08:12] Lestat06 opened #569 "Endpoints dont return EXPIRED response in expired evals"
- /api/health                                     return "OK"
- /api/analyse/file                             return "SDK_EXPIRED"
- /api/analyse/base64                      return "SDK_EXPIRED"
- /api/rebuild/file                             return "SDK_EXPIRED"
- /api/rebuild/base64                      return "SDK_EXPIRED"
- /api/rebuild/zipfile                        return "UNPROCESSABLE"
- /

[2021-08-05 08:26] Lestat06 commented on #565
@GINAGC @VladislavCp
for the moment this blocked, the OVAs created from https://github.com/k8-proxy/k8s-compliant-kubernetes EVAL is expired and PROD is not prod and has expired also, the fix for this however is merged in EAP-RELEASES, where now Gurunath is investigating the issue with the wizard not being there, so we will continue this as soon as the fix for the wizard is there
FYI @SwathiYerabo

[2021-08-05 10:05] mohitsengarr commented on #564
@GINAGC if there is an update in policy at go-minio end then please share the updated JSON that go-minio accepts in `content-management-policy` header. @ibrahimk9000

[2021-08-05 10:17] mohitsengarr commented on #564
@ibrahimk9000 provide me the JSON for the same change.

[2021-08-05 10:22] mohitsengarr commented on #424
@Lestat06 please check https://cloud-sdk.glasswallsolutions.com/swagger/index.html on chrome. But may be this copy to clip board will not work in other browsers. What i'm suggesting to test the base64 endpoints, I can create an endpoint that will accepts the file and will return the base64 which you can use in testing base64 apis.

@GINAGC please suggest.

[2021-08-05 10:36] Lestat06 commented on #486
@GINAGC please review  https://github.com/k8-proxy/cs-k8s-api/pull/571
also we should probably remove the other versions from the table and leave only golang-ck8s or what do u suggest
also let me know when u confirm to delete **documentation.md** **limitations.md** **ApiEndpointsDocumentation.md**

[2021-08-05 10:50] Lestat06 commented on #558
@GINAGC this is not an option anymore in eap-releases to trigger
FYI @SwathiYerabolu

[2021-08-05 11:28] Lestat06 commented on #569
Noting here also that the filedrop UI was rebuilding files in the expired AMIs

[2021-08-05 11:38] Lestat06 commented on #372
this is ok now in golang-ck8s, all versions are there, however expiry date needs to be more exact, eval expired 05/08 while in the header it says 08/08
FYI @SwathiYerabolu

![image](https://user-images.githubusercontent.com/6232283/128343398-b669f729-4278-4aba-8f0a-168f57e83c34.png)

[2021-08-05 11:54] GINAGC commented on #569
@Lestat06 filedrop should not rebuild in expired images. Please retest and open issue in filedrop repository.

[2021-08-05 11:56] GINAGC commented on #424
to @Lestat06 to test in more browsers.

[2021-08-05 12:04] GINAGC commented on #486
@Lestat06 merged and some feedback:

- please remove documentation.md
- remove the table of versions, we don't need that anymore.
- add a list of endpoints to the readme
- update the architecture diagram to be the one with minio. I will point you this diagram.

Thank you

[2021-08-05 14:27] Lestat06 commented on #486
ok great thanks, will update once u point the diagram

[2021-08-06 07:28] GINAGC opened #574 "Analyse 400 error on cloud API."

[2021-08-06 08:13] mohitsengarr commented on #574
Issue_015501C6 (1).doc and EmbeddedImageWithIssue (2).pdf these files are not processable
Issue_0501003A.docx, a server returning 403 for this file due to WAF but I'll test on a non-WAF enabled server.
Dynamic Data Exchange.doc is processable without any issue.

@GINAGC @kumarsudhish

It seems no issue with cs-api.

[2021-08-06 15:26] Lestat06 commented on #486
@GINAGC all the above are updated, all that is left is for some dev to check the deplpoyment since im pretty sure it has changed and to check the limitiations

[2021-08-07 00:34] Lestat06 commented on #490
@GINAGC this is now ok and working in 0.10.0

[2021-08-09 14:35] Lestat06 opened #579 "Some endpoints rebuild all files"
`api/rebuild/file` accepts and rebuilds zipfiles which it didnt do before
`/api/rebuild/base64`  accepts zip files
`api/rebuild/zipfile` accepts and rebuilds normal files

these are new behaviour and need to be discussed if they need to be kept like this or not

Review from Mohit:
"Yes, actually earlier api were detecting file type at api level but it was not working as expected. We were facing is

[2021-08-09 17:23] Lestat06 commented on #424
@GINAGC
Firefox----base64 doesnt get copied
Opera----- base64 works as excpected
Chrome----  base64 works as excpected
Edge----- base64 works as excpected
Internet-explorer----filedrop & swagger dont even open pic1
Brave----base64 works as excpected
![image](https://user-images.githubusercontent.com/6232283/128746964-067cdc78-2810-4fbb-9023-dd1f014541a4.png)

[2021-08-09 17:34] Lestat06 commented on #424
also this also related to this one #567

[2021-08-10 08:35] GINAGC commented on #372
@Lestat06 please open a separate issue for the expiry date.

[2021-08-10 08:35] #558 closed

[2021-08-10 09:39] Lestat06 commented on #372
@GINAGC we rely on when the sdk was updated in the git repo. sometimes they may update git after few days they create it.
this needs to be checked with the core team

[2021-08-10 19:53] Lestat06 commented on #564
@GINAGC the 2 new policies are not in the pdf policies
which is strange because @ibrahimk9000 has the latest changes from develop in hic locall machine
and i cann see the other changes Himanshu has done in the develop branch,
also where can i find the file with all needed policies.

![image](https://user-images.githubusercontent.com/6232283/128925397-551e3f29-a404-42a2-9dba-7d6b45bdf9ef.png)

[2021-08-10 20:10] Lestat06 commented on #564
@ibrahimk9000 i can see the merge is there i dont know why we cant see the 2 new policies in pdf
also noticed sth in the file changed in that merge is that  `xml:"value_outside_reasonable_limits` need to be there?
![image](https://user-images.githubusercontent.com/6232283/128928199-67a43091-7b74-41c0-a5f4-4aaa195d43a7.png)

[2021-08-11 09:00] GINAGC commented on #520
Closing as dup with #466

[2021-08-11 09:00] #520 closed